﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Hakkımızda</h1></a>
        <div class="pull-right">
            <a href="/"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Hakkımızda</a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1>Hakkımızda</h1>
    </div>


    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Hakkımızda</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">"Marmara nakliyat 1971 yılından beri taşımacılık sektöründe en kapsamlı ve en profesyonel şekilde çalışan kurumsallaşmış nakliyat firmalarından biri olarak bilinmektedir. Evden eve nakliyat, ofis taşımalığı, eşya depolama, asansörlü taşıma gibi pek çok alanda hizmet sunabilen bir firmadır. Yıllardır özveri ve güvenli iş disiplini içinde hizmet sunan firma özelliği taşımaktadır. Genel bakımdan eşyalarınızın nasıl ve hangi sistemle taşınacağı konusunda bir telefon kadar yakınınızda olan firma olarak tanınmaktadır. Müşteri memnuniyetini ve kaliteli nakliyat işlemlerini ön planda tutan bu firma sigortalı hizmetler sunarak nakliyat işlemlerinizi daha güvenli hale getirmektedir. Bu yüzden güvenebileceğiniz ve güvenle eşyalarınızı teslim edeceğiniz firma olarak bilinmektedir."</p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Marmara Evden Eve Nakliyat Firması</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">"Marmara nakliyat evden eve nakliyat kapsamında popülerleşmiş bir hizmet yapısı olan asansörlü taşımacılığı tercih eden bir firmadır. Kurumsal yapısı sayesinde kalifiye elemanlar bulunduran bu firma tüm işlemlerini garanti kapsamı adı altında sürdürmektedir. Türkiye’nin en uzak noktasından en yakın noktasına kadar nakliyat hizmeti verebilen bir firmadır. Özellikle şehirlerarası nakliyat seçimlerinde tercih edilmesi gereken en önemli firmalardan biridir. Zati eşya veya normal eşyaların taşınması konusunda her zaman kolayca ulaşabileceğiniz firmadan bilgi almanız mümkündür. Taşıma koşulları bakımından üst düzey performans alabileceğiniz bir firma olarak tanınmaktadır. Bu yüzden aklınızda en ufak bir şüphenin kalmayacağı firma olarak değerlendirmeniz gerekir. Taşınma konusunda arayış içinde olan kişiler için tercih sebebi olan her konuda güven faktörü sunan firmadır."</p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Ücretsiz Ekspertiz</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">"Marmara nakliyat firması uzun yılların birikim ve tecrübelerine sahip bir firmadır. Genel kapsamlı nakliyat hizmeti sunan firmaya her daim ulaşma şansınız vardır. alelade firmaların çalışma şekline benzemeyen sistemi ücretsiz ekspertiz hizmeti de sunmaktadır. Bu sistem her nakliyat firmasında bulunmayan önemli bir farktır. Nakli gerçekleştirilecek eşyaların taşınma konusundaki araç seçimi veya mesafe farkı gibi pek çok konuda bilgi verebilen bir firmadır. Bu sayede eşyalarınızın hangi fiyata taşınacağını önceden öğrenme şansınız vardır. Çeşitli sorun oluşturabilecek bir sürprizle karşılaşmamak için Marmara nakliyat firmasını göz önünde bulundurarak tercih yapmalısınız."</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>