﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <h1>Bize Ulaşın</h1>
        <div class="pull-right">
            <a href="/"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#" onlclick="return false;">Bize Ulaşın</a>
        </div>
    </div>
</div>

<div class="container-fluid block-content">
    <div class="row main-grid">
        <div class="col-sm-4">
            <h4>İletişim</h4>
            <p>Merak ettiğiniz bir konu mu var? Size her kanaldan yardımcı olmak için iletişim adreslerimizi buraya bırakıyoruz.</p>
            <div class="adress-details wow fadeInLeft" data-wow-delay="0.3s">
                <div>
                    <span><i class="fa fa-location-arrow"></i></span>
                    <div>@Organization.PrimaryAddress</div>
                </div>
                <div>
                    <span><i class="fa fa-phone"></i></span>
                    <div><a href="tel:@Organization.PrimaryRawPhone">@Organization.PrimaryPhone</a></div>
                </div>
                <div>
                    <span><i class="fa fa-envelope"></i></span>
                    <div><a href="mail:@Organization.PrimaryMail">@Organization.PrimaryMail</a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 wow fadeInRight" data-wow-delay="0.3s">
            <h4>İletişim Formu</h4>
            <p>Bize merak ettiğiniz her konu hakkında ulaşabilirsiniz, gönderdiğiniz mesaj operatörlerimiz tarafından en kısa sürede incelenerek tarafınıza yanıt verilecektir.</p>
            <div id="sonuc"></div>
            <form novalidate id="iltfrm" class="reply-form form-inline" method="post" action="contact-process">
                <div class="row form-elem">
                    <div class="col-sm-12 form-elem" style="margin-bottom:15px;">
                        <div class="default-inp form-elem">
                            <i class="fa fa-user"></i>
                            <input type="text" name="name" id="user-name" placeholder="Ad-Soyad" required="required">
                        </div>
                    </div>
                    <div class="col-sm-12 form-elem">
                        <div class="default-inp form-elem">
                            <i class="fa fa-user"></i>
                            <input type="text" name="mail" id="user-email" placeholder="E-Posta" required="required">
                        </div>
                        <div class="default-inp form-elem">
                            <i class="fa fa-envelope"></i>
                            <input type="text" name="phone" id="user-email" placeholder="Telefon" required="required">
                        </div>
                    </div>
                </div>
                <div class="default-inp form-elem">
                    <input type="text" name="header" id="user-subject" placeholder="Başlık">
                </div>
                <div class="form-elem default-inp">
                    <textarea name="message" id="user-message" placeholder="Mesajınız"></textarea>
                </div>
                <div class="form-elem">
                    <div class="g-recaptcha" data-sitekey="6LeAZUodAAAAAABDUImJdEBeUaqCBxhXq3jGSqy9"></div>
                </div>
                <div class="form-elem">
                    <button id="iltbtn" type="submit" class="btn btn-success btn-default">Gönder</button>
                </div>
                <input type="hidden" name="ipcode" value="213.74.231.186" />
                <input type="hidden" name="eea682ff28" value="c311118d26d995527a191a38d191c32851cdb7de3566c28fdfd109a2afb616a8" />
            </form>
        </div>
    </div>
</div>
@section PageEndScripts{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}