﻿
<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Sıkça Sorulan Sorular</h1></a>
        <div class="pull-right">
            <a href="http://demoliste.com/U798759"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Sıkça Sorulan Sorular</a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1>Sıkça Sorulan Sorular</h1>
    </div>


    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-plus-square" aria-hidden="true"></i><a data-toggle="collapse" data-parent="#accordion" href="#lorem-ipsum-nedir">Marmara Nakliyat Firması Hangi Hizmetleri Yapar?</a>
                            </h4>
                        </div>
                        <div id="lorem-ipsum-nedir" class="panel-collapse collapse">
                            <div class="panel-body"><strong style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: justify;">Lorem Ipsum</strong><span style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: justify;">, Marmara nakliyat firması evden eve taşıma, şehirlerarası nakliyat, ofis taşımacılığı, antika taşımacılığı, eşya depolama ve çelik kasa/para kasası ve piyano taşımacılığı yapmaktadır. </span></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-plus-square" aria-hidden="true"></i><a data-toggle="collapse" data-parent="#accordion" href="#nereden-gelir">Marmara Nakliyat Firmasının Şubesi Var mı?</a>
                            </h4>
                        </div>
                        <div id="nereden-gelir" class="panel-collapse collapse">
                            <div class="panel-body"><p><span style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: justify;">Marmara nakliyat firması İstanbul civarında 14 adet şube zincirine sahip olan bir firmadır. Ayrıca Ankara, Erzurum, Trabzon, Adana, Antalya, Diyarbakır illerinde de şubeleri bulunmaktadır.</span><br></p></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-plus-square" aria-hidden="true"></i><a data-toggle="collapse" data-parent="#accordion" href="#neden-kullaniriz">Marmara Nakliyat Firmasında Eşya Depolama Süresi Ne Kadar?</a>
                            </h4>
                        </div>
                        <div id="neden-kullaniriz" class="panel-collapse collapse">
                            <div class="panel-body"><p><span style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: justify;">Firmanın genel iş düzeninde bulunan eşya depolama sistemi her müşterinin kullanabileceği nitelikte tasarlanmıştır. Bireysel ve kurumsal müşterilerin kendi belirttikleri süre içinde kullanılacak bir hizmettir.</span><br></p></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-plus-square" aria-hidden="true"></i><a data-toggle="collapse" data-parent="#accordion" href="#nereden-bulabilirim">Marmara Nakliyat Firmasında Ücretsiz Ekspertiz Ne İşe Yarar?</a>
                            </h4>
                        </div>
                        <div id="nereden-bulabilirim" class="panel-collapse collapse">
                            <div class="panel-body"><p><span style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: justify;">Normalde nakliyat hizmetleri açısından arayıp bilgi alabileceğiniz firma olan Marmara nakliyat firması ücretsiz ekspertiz özelliği de sunan bir firmadır. Bu özelliği sayesinde eşyaların yerinde görülerek fiyat belirlenmesi ve müşteriye nakliyat işlemi öncesinde verilmesi mümkündür. Özellikle İstanbul ili içinde bu sistemi kullanıldığı gibi diğer şubelerinde de kullanıldığı bilinmektedir.</span><br></p></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-plus-square" aria-hidden="true"></i><a data-toggle="collapse" data-parent="#accordion" href="#nereden-bulabilirim">Marmara Nakliyat Firması Çelik Kasa/Para Kasası Taşımacılığını Nasıl Yapar?</a>
                            </h4>
                        </div>
                        <div id="nereden-bulabilirim" class="panel-collapse collapse">
                            <div class="panel-body"><p><span style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: justify;">Çelik kasa veya para kasası olarak bilinen kasaların taşınmasında trans, palet, kayış ve kızak sistemleri ile taşımalar gerçekleştirmektedir. Ürünlerin en güvenli şekilde teslim alınarak istenen yere nakliyatı gerçekleştirilmektedir. </span><br></p></div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-plus-square" aria-hidden="true"></i><a data-toggle="collapse" data-parent="#accordion" href="#nereden-bulabilirim">Marmara Nakliyat Antika Taşımacılığını Nasıl Yapıyor?</a>
                            </h4>
                        </div>
                        <div id="nereden-bulabilirim" class="panel-collapse collapse">
                            <div class="panel-body"><p><span style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: justify;">Antika ürünler bilindiği üzere maliyet açısından en yüksek fiyatlarda satılan eşyalardır. Ürünlerin kaybolmaması veya hasar görmemesi amacıyla kullanılan koruyucu malzemeler ile paketlenmektedir. Paketlenme sonrasında özel araç filosuna yüklenen ürünler özel ekipman ve eleman desteği ile istenen yere nakliyatı gerçekleştirmektedir. </span><br></p></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>