﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <a href="#"><h1>Resim Galeri </h1></a>
        <div class="pull-right">
            <a href="/"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Resim Galeri </a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset wow zoomIn" data-wow-delay="0.3s">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <!--
                    - tilda işareti kök dizini temsil eder
                    -kök dizin wwwroot klasörü içerisidir
                    -sonrası zaten direk yolu yazma
                    -sen resimleri gallery klasörü altına topla kanka yolu oradan ver
                    -->
                <a href="~/assets/img/gallery/marmara-nakliyat-index-eşya-koruma.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmara-nakliyat-index-eşya-koruma.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <a href="~/assets/img/gallery/marmara-nakliyat-index-evdenevenakliyat.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmara-nakliyat-index-evdenevenakliyat.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <a href="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-6.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-6.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <a href="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-9.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-9.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <a href="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-11.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-11.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <a href="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-13.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-13.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <a href="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-15.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-15.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
            <div class="col-md-3" style="margin-bottom:15px; float:left;">
                <a href="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-14.jpeg" class="swipebox">
                    <img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-14.jpeg" style="height:200px; width:100%;"/>
                </a>
            </div>
        </div><!-- /.col -->
    </div>
</div>