﻿<style>
    .form-control {
        border: 1px solid #000000;
        margin-bottom: 15px;
    }
</style>

<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Nakliyat Fiyat Teklifi</h1></a>
        <div class="pull-right">
            <a href="http://demoliste.com/U798759"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Nakliyat Fiyat Teklifi</a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1></h1>
    </div>


    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <form action="offer-process" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" name="bastarih" class="js-date1 form-control" maxlength="10" placeholder="Taşınma Tarih (Başlangıç Örn. 01-01-2019)">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="bittarih" class="js-date2 form-control" maxlength="10" placeholder="Taşınma Tarih (Bitiş Örn. 01-01-2019)">
                            </div>
                            <div class="col-md-4">
                                <select name="yapilacakis" class="form-control">
                                    <option value="">Seçiniz</option>
                                    <option value="Evden Eve Nakliyat">Evden Eve Nakliyat</option>
                                    <option value="Kurumsal Nakliyat">Kurumsal Nakliyat</option>
                                    <option value="Parça Eşya Nakliyat">Parça Eşya Nakliyat</option>
                                    <option value="Tehlikeli Madde Nakliyat">Tehlikeli Madde Nakliyat</option>
                                    <option value="Kimyasal Madde Nakliyat">Kimyasal Madde Nakliyat</option>
                                    <option value="Atık Madde Nakliyat">Atık Madde Nakliyat</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-top:25px;">
                                <h3 style="font-size:16px"><i class="fa fa-external-link-square"></i> Eşyanın Alıcacağı Yer Bilgileri</h3>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <select name="alsehir" class="form-control">
                                    <option value="">Şehir Seçiniz</option>
                                    <option value="Adana">Adana</option>
                                    <option value="Adıyaman">Adıyaman</option>
                                    <option value="Afyonkarahisar">Afyonkarahisar</option>
                                    <option value="Ağrı">Ağrı</option>
                                    <option value="Amasya">Amasya</option>
                                    <option value="Ankara">Ankara</option>
                                    <option value="Antalya">Antalya</option>
                                    <option value="Artvin">Artvin</option>
                                    <option value="Aydın">Aydın</option>
                                    <option value="Balıkesir">Balıkesir</option>
                                    <option value="Bilecik">Bilecik</option>
                                    <option value="Bingöl">Bingöl</option>
                                    <option value="Bitlis">Bitlis</option>
                                    <option value="Bolu">Bolu</option>
                                    <option value="Burdur">Burdur</option>
                                    <option value="Bursa">Bursa</option>
                                    <option value="Çanakkale">Çanakkale</option>
                                    <option value="Çankırı">Çankırı</option>
                                    <option value="Çorum">Çorum</option>
                                    <option value="Denizli">Denizli</option>
                                    <option value="Diyarbakır">Diyarbakır</option>
                                    <option value="Edirne">Edirne</option>
                                    <option value="Elazığ">Elazığ</option>
                                    <option value="Erzincan">Erzincan</option>
                                    <option value="Erzurum">Erzurum</option>
                                    <option value="Eskişehir">Eskişehir</option>
                                    <option value="Gaziantep">Gaziantep</option>
                                    <option value="Giresun">Giresun</option>
                                    <option value="Gümüşhane">Gümüşhane</option>
                                    <option value="Hakkari">Hakkari</option>
                                    <option value="Hatay">Hatay</option>
                                    <option value="Isparta">Isparta</option>
                                    <option value="Mersin(İçel)">Mersin(İçel)</option>
                                    <option value="İstanbul">İstanbul</option>
                                    <option value="İzmir">İzmir</option>
                                    <option value="Kars">Kars</option>
                                    <option value="Kastamonu">Kastamonu</option>
                                    <option value="Kayseri">Kayseri</option>
                                    <option value="Kırklareli">Kırklareli</option>
                                    <option value="Kırşehir">Kırşehir</option>
                                    <option value="Kocaeli">Kocaeli</option>
                                    <option value="Konya">Konya</option>
                                    <option value="Kütahya">Kütahya</option>
                                    <option value="Malatya">Malatya</option>
                                    <option value="Manisa">Manisa</option>
                                    <option value="Kahramanmaraş">Kahramanmaraş</option>
                                    <option value="Mardin">Mardin</option>
                                    <option value="Muğla">Muğla</option>
                                    <option value="Muş">Muş</option>
                                    <option value="Nevşehir">Nevşehir</option>
                                    <option value="Niğde">Niğde</option>
                                    <option value="Ordu">Ordu</option>
                                    <option value="Rize">Rize</option>
                                    <option value="Sakarya">Sakarya</option>
                                    <option value="Samsun">Samsun</option>
                                    <option value="Siirt">Siirt</option>
                                    <option value="Sinop">Sinop</option>
                                    <option value="Sivas">Sivas</option>
                                    <option value="Tekirdağ">Tekirdağ</option>
                                    <option value="Tokat">Tokat</option>
                                    <option value="Trabzon">Trabzon</option>
                                    <option value="Tunceli">Tunceli</option>
                                    <option value="Şanlıurfa">Şanlıurfa</option>
                                    <option value="Uşak">Uşak</option>
                                    <option value="Van">Van</option>
                                    <option value="Yozgat">Yozgat</option>
                                    <option value="Zonguldak">Zonguldak</option>
                                    <option value="Aksaray">Aksaray</option>
                                    <option value="Bayburt">Bayburt</option>
                                    <option value="Karaman">Karaman</option>
                                    <option value="Kırıkkale">Kırıkkale</option>
                                    <option value="Batman">Batman</option>
                                    <option value="Şırnak">Şırnak</option>
                                    <option value="Bartın">Bartın</option>
                                    <option value="Ardahan">Ardahan</option>
                                    <option value="Iğdır">Iğdır</option>
                                    <option value="Yalova">Yalova</option>
                                    <option value="Karabük">Karabük</option>
                                    <option value="Kilis">Kilis</option>
                                    <option value="Osmaniye">Osmaniye</option>
                                    <option value="Düzce">Düzce</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input name="alilce" type="text" class="form-control" placeholder="İlçe Girin">
                            </div>
                            <div class="col-md-6">
                                <select name="esyadurum" class="form-control">
                                    <option value="">Eşya Durumu</option>
                                    <option value="1+1">1+1</option>
                                    <option value="2+1">2+1</option>
                                    <option value="3+1">3+1</option>
                                    <option value="4+1">4+1</option>
                                    <option value="5+1">5+1</option>
                                    <option value="Diğer">Diğer</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select name="alnasiltasinir" class="form-control">
                                    <option value="">Taşıma Durumu</option>
                                    <option value="Bina Asansörü Kullanılarak">Bina Asansörü Kullanılarak</option>
                                    <option value="Bina Merdiveni Kullanılarak">Bina Merdiveni Kullanılarak</option>
                                    <option value="Modüler Merdiven Kullanılarak">Modüler Merdiven Kullanılarak</option>
                                    <option value="Bilemiyorum">Bilemiyorum</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select name="alkatdurum" class="form-control">
                                    <option value="">Kat Durumu</option>
                                    <option value="Giriş Altı 3">Giriş Altı 3</option>
                                    <option value="Giriş Altı 2">Giriş Altı 2</option>
                                    <option value="Giriş Altı 1">Giriş Altı 1</option>
                                    <option value="Giriş">Giriş</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15 den fazla">Daha Fazla</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select name="paketleme" class="form-control">
                                    <option value="">Paketleme Durumu</option>
                                    <option value="Tamamen Firmaya Ait Olacak">Tamamen Firmaya Ait Olacak</option>
                                    <option value="Ben Paketleyeceğim">Ben Paketleyeceğim</option>
                                    <option value="Her İkisi İçin Teklif İstiyorum">Her İkisi İçin Teklif İstiyorum</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-top:25px;">
                                <h3 style="font-size:16px"><i id="cevir" class="fa fa-external-link-square"></i> Eşyanın Gideceği Yer Bilgileri</h3>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <select name="gitsehir" class="form-control">
                                    <option value="">Şehir Seçiniz</option>
                                    <option value="Adana">Adana</option>
                                    <option value="Adıyaman">Adıyaman</option>
                                    <option value="Afyonkarahisar">Afyonkarahisar</option>
                                    <option value="Ağrı">Ağrı</option>
                                    <option value="Amasya">Amasya</option>
                                    <option value="Ankara">Ankara</option>
                                    <option value="Antalya">Antalya</option>
                                    <option value="Artvin">Artvin</option>
                                    <option value="Aydın">Aydın</option>
                                    <option value="Balıkesir">Balıkesir</option>
                                    <option value="Bilecik">Bilecik</option>
                                    <option value="Bingöl">Bingöl</option>
                                    <option value="Bitlis">Bitlis</option>
                                    <option value="Bolu">Bolu</option>
                                    <option value="Burdur">Burdur</option>
                                    <option value="Bursa">Bursa</option>
                                    <option value="Çanakkale">Çanakkale</option>
                                    <option value="Çankırı">Çankırı</option>
                                    <option value="Çorum">Çorum</option>
                                    <option value="Denizli">Denizli</option>
                                    <option value="Diyarbakır">Diyarbakır</option>
                                    <option value="Edirne">Edirne</option>
                                    <option value="Elazığ">Elazığ</option>
                                    <option value="Erzincan">Erzincan</option>
                                    <option value="Erzurum">Erzurum</option>
                                    <option value="Eskişehir">Eskişehir</option>
                                    <option value="Gaziantep">Gaziantep</option>
                                    <option value="Giresun">Giresun</option>
                                    <option value="Gümüşhane">Gümüşhane</option>
                                    <option value="Hakkari">Hakkari</option>
                                    <option value="Hatay">Hatay</option>
                                    <option value="Isparta">Isparta</option>
                                    <option value="Mersin(İçel)">Mersin(İçel)</option>
                                    <option value="İstanbul">İstanbul</option>
                                    <option value="İzmir">İzmir</option>
                                    <option value="Kars">Kars</option>
                                    <option value="Kastamonu">Kastamonu</option>
                                    <option value="Kayseri">Kayseri</option>
                                    <option value="Kırklareli">Kırklareli</option>
                                    <option value="Kırşehir">Kırşehir</option>
                                    <option value="Kocaeli">Kocaeli</option>
                                    <option value="Konya">Konya</option>
                                    <option value="Kütahya">Kütahya</option>
                                    <option value="Malatya">Malatya</option>
                                    <option value="Manisa">Manisa</option>
                                    <option value="Kahramanmaraş">Kahramanmaraş</option>
                                    <option value="Mardin">Mardin</option>
                                    <option value="Muğla">Muğla</option>
                                    <option value="Muş">Muş</option>
                                    <option value="Nevşehir">Nevşehir</option>
                                    <option value="Niğde">Niğde</option>
                                    <option value="Ordu">Ordu</option>
                                    <option value="Rize">Rize</option>
                                    <option value="Sakarya">Sakarya</option>
                                    <option value="Samsun">Samsun</option>
                                    <option value="Siirt">Siirt</option>
                                    <option value="Sinop">Sinop</option>
                                    <option value="Sivas">Sivas</option>
                                    <option value="Tekirdağ">Tekirdağ</option>
                                    <option value="Tokat">Tokat</option>
                                    <option value="Trabzon">Trabzon</option>
                                    <option value="Tunceli">Tunceli</option>
                                    <option value="Şanlıurfa">Şanlıurfa</option>
                                    <option value="Uşak">Uşak</option>
                                    <option value="Van">Van</option>
                                    <option value="Yozgat">Yozgat</option>
                                    <option value="Zonguldak">Zonguldak</option>
                                    <option value="Aksaray">Aksaray</option>
                                    <option value="Bayburt">Bayburt</option>
                                    <option value="Karaman">Karaman</option>
                                    <option value="Kırıkkale">Kırıkkale</option>
                                    <option value="Batman">Batman</option>
                                    <option value="Şırnak">Şırnak</option>
                                    <option value="Bartın">Bartın</option>
                                    <option value="Ardahan">Ardahan</option>
                                    <option value="Iğdır">Iğdır</option>
                                    <option value="Yalova">Yalova</option>
                                    <option value="Karabük">Karabük</option>
                                    <option value="Kilis">Kilis</option>
                                    <option value="Osmaniye">Osmaniye</option>
                                    <option value="Düzce">Düzce</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input name="gitilce" class="form-control" type="text" placeholder="İlçe Girin">
                            </div>
                            <div class="col-md-6">
                                <select name="gitnasiltasinir" class="form-control">
                                    <option value="">Taşıma Durumu</option>
                                    <option value="Bina Asansörü Kullanılarak">Bina Asansörü Kullanılarak</option>
                                    <option value="Bina Merdiveni Kullanılarak">Bina Merdiveni Kullanılarak</option>
                                    <option value="Modüler Merdiven Kullanılarak">Modüler Merdiven Kullanılarak</option>
                                    <option value="Bilemiyorum">Bilemiyorum</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select name="gitkatdurum" class="form-control">
                                    <option value="">Kat Durumu</option>
                                    <option value="Giriş Altı 3">Giriş Altı 3</option>
                                    <option value="Giriş Altı 2">Giriş Altı 2</option>
                                    <option value="Giriş Altı 1">Giriş Altı 1</option>
                                    <option value="Giriş">Giriş</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15 den fazla">Daha Fazla</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-top:25px;">
                                <h3 style="font-size:16px"><i class="fa fa-info-circle"></i> Taşımanızla İlgili Detaylı Bilgi</h3>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <textarea name="aciklama" class="form-control" rows="8" placeholder="Burada belirteceğiniz bilgiler daha sağlıklı teklif almanız açısından önemlidir."></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-top:25px;">
                                <h3 style="font-size:16px"><i class="fa fa-users"></i>İletişim bilgileriniz</h3>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <input name="adsoyad" class="form-control" type="text" placeholder="Adınız & Soyadınız">
                            </div>
                            <div class="col-md-6">
                                <input name="eposta" class="form-control" type="email" placeholder="E-Posta Adresiniz">
                            </div>
                            <div class="col-md-6">
                                <input name="gsm" class="form-control" type="text" placeholder="Gsm (Ör: 05xxxxxxxxx)">
                            </div>
                            <div class="col-md-6">
                                <p style="line-height:35px;"><i class="fa fa-info-circle"></i> Lütfen tüm bilgilerinizi eksiksiz olarak doldurun.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-top:25px;">
                                <h3 style="font-size:16px"><i class="fa fa-shield"></i> Güvenlik Doğrulaması</h3>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="g-recaptcha" data-sitekey="6LeAZUodAAAAAABDUImJdEBeUaqCBxhXq3jGSqy9"></div>
                            </div>
                        </div>
                        <div id="sonuc"></div>
                        <div class="row">
                            <div class="col-md-3" style="margin-top:25px;">
                                <input id="tapbtn" type="submit" value="Talebimi Gönder" class="btn btn-primary">
                            </div>
                        </div>
                        <input type="hidden" name="eea682ff28" value="6LeAZUodAAAAAABDUImJdEBeUaqCBxhXq3jGSqy9" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageEndScripts{ 
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}