﻿<div id="owl-main-slider" class="owl-carousel enable-owl-carousel" data-single-item="true" data-pagination="false" data-auto-play="true" data-main-slider="true" data-stop-on-hover="true">
    <div class="item">
        <img src="~/assets/img/slider-7.jpg" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1 style="color:#ffffff;">GARANTİLİ TAŞIMACILIK HİZMETLERİ</h1>
                    </div>
                </div>
                <p style="color:#ffffff;">
                    Hemen bizi arayarak gantili taşımacılık hizmetlerimizden faydalanabilirsiniz, istediğiniz tüm şehirlere taşıma hizmetimiz bulunmaktadır.<br>
                    <a href="#" class="btn btn-success">HEMEN İNCELE</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="~/assets/img/slider-4.jpg" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1 style="color:#ffffff;">Eşyalarınız garantimiz altında</h1>
                    </div>
                </div>
                <p style="color:#ffffff;">
                    Hemen bizi arayarak gantili taşımacılık hizmetlerimizden faydalanabilirsiniz, istediğiniz tüm şehirlere taşıma hizmetimiz bulunmaktadır.<br>
                    <a href="#" class="btn btn-success">HEMEN İNCELE</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="~/assets/img/slider-5.jpg" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1 style="color:#ffffff;">EŞYALARINIZ GARANTİMİZ ALTINDA</h1>
                    </div>
                </div>
                <p style="color:#ffffff;">
                    Hemen bizi arayarak gantili taşımacılık hizmetlerimizden faydalanabilirsiniz, istediğiniz tüm şehirlere taşıma hizmetimiz bulunmaktadır.<br>
                    <a href="#" class="btn btn-success">HEMEN İNCELE</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="~/assets/img/slider-6.jpg" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1 style="color:#ffffff;">EŞYALARINIZ GARANTİMİZ ALTINDA</h1>
                    </div>
                </div>
                <p style="color:#ffffff;">
                    Hemen bizi arayarak gantili taşımacılık hizmetlerimizden faydalanabilirsiniz, istediğiniz tüm şehirlere taşıma hizmetimiz bulunmaktadır.<br>
                    <a href="#" class="btn btn-success">HEMEN İNCELE</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="~/assets/img/slider-7.jpg" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <h1 style="color:#ffffff;">EŞYALARINIZ GARANTİMİZ ALTINDA</h1>
                    </div>
                </div>
                <p style="color:#ffffff;">
                    Hemen bizi arayarak gantili taşımacılık hizmetlerimizden faydalanabilirsiniz, istediğiniz tüm şehirlere taşıma hizmetimiz bulunmaktadır.<br>
                    <a href="#" class="btn btn-success">HEMEN İNCELE</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row column-info block-content">
        <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.3s">
            <img src="~/assets/img/gallery/marmara-nakliyat-index-evdenevenakliyat.jpeg" alt="Marmara evden eve nakliyat taşımacılığı." style="height:200px;">
            <span></span>
            <h3>Evden Eve Nakliyat</h3>
            <p>Evden eve nakliyat hizmetlerinde profesyonel ekibimiz ile her zaman yanınızdayız. Kullandığımız asansör ve taşıma aletlerinin tamamı ihtiyacınıza ...</p>
            <a class="btn btn-default btn-sm" href="main/service-home-carrying">İncele</a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.3s">
            <img src="~/assets/img/gallery/marmara-nakliyat-index-asansorlu-tasima.jpg" alt="Marmara nakliyat asansörlü ev taşıma." style="height:200px;">
            <span></span>
            <h3>Asansörlü Taşıma</h3>
            <p>Evden eve nakliyat hizmetlerinde profesyonel ekibimiz ile her zaman yanınızdayız. Kullandığımız asansör ve taşıma aletlerinin tamamı ihtiyacınıza ...</p>
            <a class="btn btn-default btn-sm" href="main/service-lift-carrying">İncele</a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.3s">
            <img src="~/assets/img/gallery/marmara-nakliyat-index-eşya-koruma.jpeg" alt="Marmara nakliyat taşıma sırasında eşya koruma." style="height:200px;">
            <span></span>
            <h3>Eşya Koruma</h3>
            <p>Evden eve nakliyat hizmetlerinde profesyonel ekibimiz ile her zaman yanınızdayız. Kullandığımız asansör ve taşıma aletlerinin tamamı ihtiyacınıza ...</p>
            <a class="btn btn-default btn-sm" href="main/stuff-storage">İncele</a>
        </div>
    </div>
</div>

<hr>
<div class="big-hr color-1 wow zoomInUp" data-wow-delay="0.3s">
    <div class="text-left" style="margin-right:40px;">
        <h2>FİYAT TEKLİFİ ALMAK İSTERMİSİNİZ?</h2>
        <p>Taşıma planınızı bize ileterek en uygun fiyat teklifini alabilirsiniz.</p>
    </div>
    <div><a class="btn btn-success btn-lg" href="Main/get-offer">Fiyat Teklifi</a></div>
</div>

<div class="container-fluid block-content">
    <div class="text-center hgroup wow zoomInUp" data-wow-delay="0.3s">
        <h1>Hizmetlerimiz</h1>
        <h2>Hizmetlerimizi inceleyerek size en uygun olanı seçerek bizimle iletişime geçebilirsiniz.</h2>
    </div>
    <div class="row our-services">
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="main/service-office-carrying">
                <span><i class="glyph-icon flaticon-package7"></i></span>
                <h4>Ofis Taşımacılığı</h4>
                <p>Ofis taşıma mevcut ofis adresinizin başka bir yere nakli olarak bilinmektedir. Kısa ve öz haliyle ...</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="main/service-insured-carrying">
                <span><i class="glyph-icon flaticon-package7"></i></span>
                <h4>Sigortalı Taşıma</h4>
                <p>Sigortalı taşıma nakliyat hizmeti bakımından en güvenli işlemlerin kontrollü bir şekilde yapıldığını ...</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="main/service-lift-carrying">
                <span><i class="glyph-icon flaticon-package7"></i></span>
                <h4>Evden Eve Asansörlü Taşıma</h4>
                <p>Asansörlü taşıma sistemi nakliyat işlemlerinde en çok tercih edilen ve son yıllarda popülerliğini arttıran  ...</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="main/service-intercity-carrying">
                <span><i class="glyph-icon flaticon-package7"></i></span>
                <h4>Şehirler Arası Nakliyat</h4>
                <p>Şehirlerarası nakliyat hizmetleri bir yerden başka bir yere güvenli ve garantili şekilde eşyaların  ...</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="main/service-insured-carrying">
                <span><i class="glyph-icon flaticon-package7"></i></span>
                <h4>Sigortalı Taşıma</h4>
                <p>Evden eve nakliyat hizmetlerinde profesyonel ekibimiz ile her zaman ...</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 wow zoomInLeft" data-wow-delay="0.3s">
            <a href="main/service-stuff-storage">
                <span><i class="glyph-icon flaticon-package7"></i></span>
                <h4>Eşya Depolama</h4>
                <p>Eşya depolama çok yönlü hizmetlerin genel adı olarak bilinir. Evden eve nakliyat işlemlerinde, şehir veya ülke ...</p>
            </a>
        </div>
    </div>
</div>

<div class="fleet-gallery block-content bg-image inner-offset">
    <div class="container-fluid inner-offset">
        <div class="text-center hgroup wow zoomInUp" data-wow-delay="0.3s">
            <h1>Resim Galerisi</h1>
            <h2>İşlerimizi kusursuzca yaptığımızı sizlere kanıtlmak istedik.</h2>
        </div>
        <div id="fleet-gallery" class="owl-carousel enable-owl-carousel" data-pagination="false" data-navigation="true" data-min450="2" data-min600="2" data-min768="4">
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-6.jpeg" alt="Marmara Nakliyat eşya paketleme görseli." style="height:200px;"></div>
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-7.jpeg" alt="Marmara Nakliyat eşya depolama görseli." style="height:200px;"></div>
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-8.jpeg" alt="Marmara Nakliyat eşya taşıma görseli.s" style="height:200px;"></div>
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-9.jpeg" alt="Marmara Nakliyat eşya taşıma görseli." style="height:200px;"></div>
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/marmaranakliyat-eşya-paketleme-10.jpeg" alt="Marmara Nakliyat eşya taşıma görseli." style="height:200px;"></div>
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/marmara-nakliyat-index-evdenevenakliyat.jpeg" alt="Marmara Nakliyat eşya taşıma görseli." style="height:200px;"></div>
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/sofis1.png" alt="Marmara Nakliyat ofis taşıma görseli." style="height:200px;"></div>
            <div class="wow rotateIn" data-wow-delay="0.3s"><img src="~/assets/img/gallery/marmara-nakliyat-index-ofis-tasima.png" alt="Marmara Nakliyat ofis taşıma görseli." style="height:200px;"></div>
        </div>
    </div>
</div>

<div class="container-fluid block-content">
    <div class="row">
        <div class="col-md-6 col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="hgroup">
                <h1>Müşteri Yorumları</h1>
                <h2>Müşterilerimizin yorumlarını inceleyebilirsiniz.</h2>
            </div>
            <div id="testimonials" class="owl-carousel enable-owl-carousel" data-single-item="true" data-pagination="false" data-navigation="true" data-auto-play="true">
                <div>
                    <div class="testimonial-content">
                        <span><i class="fa fa-quote-left"></i></span>
                        <p>kaliteli bir firma personel güler yüzlü sorunlarımızı hızlıca çözdüler</p>
                    </div>
                    <div class="text-right testimonial-author">
                        <h4>Abdullah Yıldırım</h4>
                    </div>
                </div>
                <div>
                    <div class="testimonial-content">
                        <span><i class="fa fa-quote-left"></i></span>
                        <p>teşekkürler hızlı geldiler ve klima montajını sorunsuz yaptılar</p>
                    </div>
                    <div class="text-right testimonial-author">
                        <h4>Sibel Kara</h4>
                    </div>
                </div>
                <div>
                    <div class="testimonial-content">
                        <span><i class="fa fa-quote-left"></i></span>
                        <p>Sorunlarımı hızlı bir biçimde çözdüler kendilerine teşekkür ederim.</p>
                    </div>
                    <div class="text-right testimonial-author">
                        <h4>Adem Güler</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
            <div class="hgroup">
                <h1>Hakkımızda</h1>
            </div>
            <ul class="why-us">
                <li>
                    Marmara nakliyat 1971 yılından beri taşımacılık sektöründe en kapsamlı ve en profesyonel şekilde çalışan kurumsallaşmış nakliyat firmalarından biri olarak bilinmektedir

                </li>
            </ul>
            <a class="btn btn-success btn-lg" href="Main/About">Daha fazla...</a>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid block-content percent-blocks" data-waypoint-scroll="true">
    <div class="row stats">
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="chart" data-percent="20">
                <span><i class="fa fa-truck"></i></span>
                <span class="percent"></span>Taşıma Aracı
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="chart" data-percent="100">
                <span><i class="fa fa-cubes"></i></span>
                <span class="percent"></span>Eşya Taşıma
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="chart" data-percent="100">
                <span><i class="fa fa-users"></i></span>
                <span class="percent"></span>Mutlu Müşteri
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="chart" data-percent="100">
                <span><i class="fa fa-trophy"></i></span>
                <span class="percent"></span>Uzmanlık & Deneyim
            </div>
        </div>
    </div>
</div>