﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Sıkça Sorulan Sorular</h1></a>
        <div class="pull-right">
            <a href="http://demoliste.com/U798759"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Sıkça Sorulan Sorular</a>
        </div>
    </div>
</div>
<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1>Misyonumuz</h1>
    </div>


    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Misyonumuz</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Marmara nakliyat misyonu genel bakımdan nakliyat kapsamına dâhil olabilecek her türlü görevi en profesyonel şekilde yapabilmektir. Firmanın kendi kuralları çerçevesinde uzun yıllardır bu sektörde yer aldığı bilinmektedir. 1971 yılından beri bu özelliği ile tanınan kurumsal Marmara nakliyat firmasının Türkiye’nin tüm bölgelerinde de acentaları bulunmaktadır. Bu sayede edindiği misyonu en iyi şekilde yürüten ve yöneten firma özelliği sunmaktadır. Nakliyat işlemlerine günlük kazanç sağlanılan bir iş yönüyle bakmamaktadır. Müşterilerin bilgileri ve eşya bilgisi üçüncü şahıslarla paylaşılmaz. Bu sayede mahremiyet içeren durumlara karşı da güvenli bir profil çizmektedir. Yurt içi eşya taşıma veya şehirlerarası nakliyat hizmetlerinin yanı sıra antika taşımacılığı veya çelik kasa ya da para kasası taşımacılığı da yapan bir firmadır. Özel ürünlere yönelik nakliyat kapsamında gelişmiş hizmetler sunmaktadır. Teknolojiye uygun ve garantili hizmet bakımından sigortalı hizmetler sunan firma olarak tanınmaktadır.</p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Garantili Eşya Depolaması</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Marmara nakliyat pek çok nakliyat işlemlerinde olduğu kadar birçok firma ile anlaşmalı olarak çalışmaktadır. Bireysel çalışmalarda yapan bu firmanın eşya depolama kapsamında çok yönlü bir hizmeti vardır. Depolama alanlarının tamamen firmaya bağlı alanlar olduğu bilinmektedir. Bu alanlarda bulunan eşyaların nasıl saklanması gerektiği ve koşulların nasıl olması gerektiği hususunda mükemmeliyetçi davranış sergilemektedir. Uzun yıllar kalabilecek eşyaların güvenli ve korunaklı şekilde depolandığı müşterilerin bilgisi dâhilindedir. Her çeşit eşyaya yönelik bu sistem mevcut durumdadır. Böylelikle sadece ev eşyası değil birçok firmanın ürün kapasitesine yönelik çalıştığı bir firma olarak ta bilinmektedir. Firmaların gerekli gördüğü zaman eşya deposundan istenen malzemeyi talep ederek temin etmesi mümkündür.</p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Müşteri Memnuniyeti </h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Marmara nakliyat müşteri memnuniyeti kapsamında en iyi hizmet sunan bir firma özelliği taşımaktadır. Taşımacılık kapsamında tüm yetkilere sahip olan Marmara firması misyon özelliğini her daim uygular. Kalite, güvence ve memnuniyet sağlayan firmanın her zaman nakliyat hizmetleri sunduğu bilinmektedir. Bu nedenle eşyalarınızın güvenliği sağlandığı kadar siz müşterilerini de memnun bırakan bir firma olarak bilinmektedir. sitesinde yer alan referanslar da misyon özelliklerine yönelik genel uygulamaları olarak bilinir.</p></p>
                </div>
            </div>
        </div>
    </div>

</div>