﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Eşya Depolama</h1></a>
        <div class="pull-right">
            <a href="/"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Hakkımızda</a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1>Eşya Depolama</h1>
    </div>


    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Eşya Depolama</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Eşya depolama çok yönlü hizmetlerin genel adı olarak bilinir. Evden eve nakliyat işlemlerinde, şehir veya ülke değiştirme de, ofis kapatma veya yeni bir ofis kurma esnasında kullanılan bir sistemdir. Güvenli bir şekilde eşyaların belirli bir süre bekletilmesi gerekebilir. Böyle durumlarda eşyaların depolanması gerekir. Bu işlemlerin tamamı en güvenli ve garantili şekilde yapılabilmesi açısından kontrollü yapılması şarttır. Her nakliyat firması bu konuda hizmet vermeyebilir. Örneğin; şehir dışı nakliyat işlemlerinde bu duruma ihtiyaç olmadığı için nakliyat işlemleri daha küçük ölçütlerde uygulanır. Aynı zamanda ihtiyaç görülmeyen bir durumdur. Fakat işini kurumsal şekilde yapan firmalar açısından eşya depolama sistemi önemli yer tutar.</p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Eşya Depolama Nasıl Yapılır?</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Eşya depolama işlemleri belirli nakliyat işlemlerinde gereksiz görülen veya fazla gelen eşyaların güvenli bir şekilde koruma altına alınması işlemidir. Kontrollü ve profesyonel bir düzende yapılması gerekir. Bu konuda nakliyat firmasına güven duyulması kısmen zordur. Çünkü her firmanın bu durumu kendi lehine kullanma durumu da oluşabilmektedir. Çeşitli riskler içeren bu durum için sigortalı eşya depolama yapılması önerilir. Örneğin; şehir değişikliği yapacak kişinin firmasında kalan eşyaların depolanmasına ihtiyaç duyduğu zaman eşya depolama sisteminden faydalanması gerekir. Çünkü fazlalık gelen eşyalar açık bir vaziyette daha çok hasar görebilir. Bu yüzden korunaklı sistem açısından yapılması ön görülen bir koruma şekli olarak değerlendirilir.</p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Depo Hizmetleri Nedir?</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Eşya depolama hizmeti belirli bir dönem için fazla olan ürünlerin güvenli bir şekilde koruma altına alınmasıdır. Mevcut ürün sisteminde hiçbir şeyin kaybolmaması amacıyla kullanılmaktadır. Birçok firmanın kullandığı bir yöntemdir. Bu sayede gerekli görüldüğü an temin edebilme olasılığı daha fazladır. Ayrıca gelen müşteri taleplerini karşılamak açısından da önemli bir hizmet sayılır. Profesyonel bir şekilde bu hizmeti veren firma az sayıdadır. Özellikle her nakliyat firmasının yapmadığını belirtmek gerekmektedir. Fakat işinde profesyonel olan ve uzun yıllardır bu işi sürdüren Marmara nakliyat firmasının eşya depolama hizmeti verdiğini söyleyebilir. Güvenli hizmetleri sayesinde yıllardır en çok tercih edilen bir firma olduğu bilinmektedir.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>