﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Sigortalı Taşıma</h1></a>
        <div class="pull-right">
            <a href="/"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Sigortalı Taşıma</a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1>Sigortalı Taşıma</h1>
    </div>


    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Sigortalı Taşıma</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Sigortalı taşıma nakliyat hizmeti bakımından en güvenli işlemlerin kontrollü bir şekilde yapıldığını gösteren sistemdir. Genel bakımdan sigortalanmış ürün hizmeti hem müşteri hem de firma açısından karşılıklı güven teminatını sağlamak anlamına gelir. Bu konuda sigortalı hizmet veren nakliyat firmaları kurumsal potansiyelde iş disipline sahiptir. Fakat nakliyat işlemleri bireysel olarak ta yapılabildiğinden her firmanın veya kişinin sigortalı taşımacılık yapmadığı bilinmektedir. Genel bakımdan müşterinin güvenli bir şekilde nakil işlemlerini tamamlayabilmesi için sigortalı nakliyat seçeneği tercih edilmesi gerekir. Aksi halde eşyaların bozulması veya kırılması gibi risk içeren durumlar için sorumluluk hali müşteri üzerine kalabilir. Böyle bir durum söz konusu olursa iki taraf açısından da sıkıntı oluşacaktır. Bu yüzden garantili hizmet kapsamı her şeyden önce gelir diyerek sağlam tercihler yapılması şarttır.</p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Nakliyat Sigorta Türleri Nelerdir?</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">
                        Sigortalı taşıma kapsamında nakliyat hizmetlerinin tümü açısından değerlendirilmesi gerekir. Her eşya taşıması aynı kapsamda tutulmaz. Çünkü karşılaştırılması gereken yönler farklı olur. Bu yüzden eş değer bir orantı yoktur. Örnek vermek gerekirse antika ürün taşımacılığı ile evden eve nakliyat farklı konseptlerdeki hizmetlerdir. Her ikisi de sigortalı şekilde yapılması gerekir. Fakat poliçeler farklıdır. Genel bakımdan nakliyat sigorta türleri de şu şekilde sıralanmaktadır.
                        •	Emtiya nakliyatı sigortaları
                        •	Navlun sigortaları
                        •	Kıymet nakliyatı sigortaları
                        •	Tekne nakliyatı
                        •	Sorumluluk sigortaları
                        Yukarıda belirtilen nakliyat sigorta türlerinin her biri farklı bir amaç için uygulanmaktadır. Genel bakımdan sigortalı taşımacılık sisteminde üst düzey bir işlev sağlanmasına yönelik tercih edilmektedir.
                    </p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Sigortalı Taşıma Hizmetleri</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Sigortalı taşıma hizmetleri kapsamında öne çıkan pek çok taşıma sistemi mevcuttur. Evden eve nakliyat işlemleri, ofis taşımacılığı, antika taşımacılığı veya eşya depolama hizmetleri sigortalı hizmetler kapsamında yer alır. Aynı şekilde para kasaları, çelik kasalar veya piyano tarzındaki büyük ürünler açısından sigortalı taşıma sistemi gereklidir. Uygulanan sistem her iki taraf için menfaat sağlamaktadır. Özellikle de müşteri açısından önemli yer tutmaktadır. Bu konuda hizmetten kaçınmayan iş disiplini ile Marmara nakliyat firması örnek gösterilebilir. Nakliyat hizmetleri kapsamında en iyi firmalardan biridir.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>