﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Evden Eve Ofis Taşıma</h1></a>
        <div class="pull-right">
            <a href="/Main/About"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Ofis Taşıma</a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1>Evden Eve Ofis Taşım</h1>
    </div>


    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Ofis Taşıma</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Ofis taşıma mevcut ofis adresinizin başka bir yere nakli olarak bilinmektedir. Kısa ve öz haliyle belirtilen bu işlem aslında büyük ayrıntılar içermektedir. Ofis içi aynı zamanda kişinin çalıştığı alan olmasından dolayı evrakların düzgün bir şekilde istiflenmesi gibi durumlar içermektedir. Aynı zamanda hiçbir eşyanın kaybolmaması veya aynı kalitede yerine teslim edilmesi gibi kontrollü işlemler içermektedir. Genel bakımdan evden eve nakliyat işlemlerinden daha ayrıntılı bir hizmet şekli olduğunu belirtmek gerekir. Çünkü kaybolacak en ufak eşyanın sizin için risk oluşturabilmesi mümkündür. Tabii ki kişisel veya çok önemli eşyalarınızın sizde bulunması tavsiye edilir. Fakat ofis içinde yer alan her evrakın önemli yer tutması nedeniyle ofis taşımacılığı her firmaya teslim edilmeyecek bir hizmettir.</p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Ofis Taşıma Nedir?</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">
                        Ofis taşıma mevcut iş yerinizin tekrardan yeni bir düzen oluşturulması anlamına gelen nakliyat hizmetidir. Bu kapsamda evrak düzeni, eşyaların düzgün kolilemesi, ihtiyaç duyulmasında eşya depolama sistemi de devreye girmektedir. Mevcut ofisiniz büyük olabilir. Fakat yeni ofisiniz daha küçük olabilir. Böyle bir durum için eşya depolama sistemi gerekir. Genel bakımdan ofis taşıma kapsamında yer alan haller şu şekilde belirtilmektedir.
                        •	Ofis eşyalarının doğru bir şekilde paketlenmesi
                        •	Fazlalık eşyalar için eşya depolama sisteminden faydalanılması
                        •	Güvenli nakliyat hizmeti
                        •	Gerektiğinde demontaj ve montaj işlemlerinin yapılması
                        •	Taşınan ofis eşyalarının düzgün bir şekilde yerleştirilmesi
                        Yukarıda sıralanan taşıma şekli ofis taşımacılığında gerekli görülen genel durumlardır. Bu kapsamda müşterilerinin isteğine yönelik ekstra durumlar da yapılabilmektedir.</p>
                    <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Ofis Taşımacılığı</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Ofis taşıma aynı zamanda kurumsal firmaların merkezi yeni adresi anlamına geldiğinden ofis taşımacılığı şeklinde de belirtilir. Ana merkezin taşınması veya şube zincirinin açılması halinde gerekli görülen bir hizmettir. İş alanı kapsamında yapılan bu sistem çok yönlü bir disiplinle yapılabilmektedir. Her ofisin veya iş yerinin kendine has özellikleri bulunur. Bu yüzden müşteri memnuniyeti açısından kontrollü yapılması gereklidir. Ofis taşıma hizmetlerinde memnuniyeti, kaliteyi, güveni ve kontrolü aksatmadan aynı dengede yapabilen profesyonel Marmara nakliyat her türlü hizmet açısından garanti kapsamında hizmetler vermektedir.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>