﻿<div class="bg-image page-title">
    <div class="container-fluid">
        <a><h1>Sıkça Sorulan Sorular</h1></a>
        <div class="pull-right">
            <a href="http://demoliste.com/U798759"><i class="fa fa-home fa-lg"></i></a> &nbsp;&nbsp;|&nbsp;&nbsp; <a>Sıkça Sorulan Sorular</a>
        </div>
    </div>
</div>

<div class="container-fluid inner-offset">
    <div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
        <h1>Vizyonumuz</h1>
    </div>

    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Vizyonumuz</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Marmara nakliyat firmasının vizyonu 1971 yılından beri verdiği hizmetler kapsamında ölçülebilecek bir değerdir. Uzun yıllardır kurumsallık yolunda ilerleyen yapısı daha büyük hedeflere doğru ilerlediğini de göstermektedir. Genel bakımdan birçok nakliyat firması vardır. fakat vizyon ve misyon edinmemiş birçok firma nakliyat konusunda insanları düşündürmektedir. Vizyon edinmiş bir firma her müşterisine aynı kaliteyi sunduğu gibi aynı zamanda memnuniyet kavramını başka bir konumda ilerletir. Firma açısından müşterinin memnun kalmış olması, düşünceleri veya firmada aranılan özellikler ön planda tutulmaktadır. Bu yüzden Marmara nakliyat firmasına sadece taşımacılık gözüyle bakmamanız gerekir. Gelecekteki hedefleri arasında Türkiye’de isim yapmış ve önemli farklarla hizmetlerini sürdürdüğü bilinmektedir. Normalde bu düşüncelerini hayata geçirmiş olan firma gelecekte de aynı şekilde sürdürerek ve çalışmalarının üzerine koyarak ilerlemeyi düşünmektedir.</p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">Marmara Nakliyat Şubeleri</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Marmara nakliyat firması güven çerçevesinde eşya taşıma işlemlerini en doğru şekilde sürdürmektedir. Firmanın uzun yıllardır sürdürdüğü hizmetleri aynı şekilde devam ediyor olup tüm illerde şubeleri bulunduğu bilinmektedir. Bölgesel anlamda düşündüğün zaman Türkiye’nin tüm bölgelerinde değerlendirilmesi mümkündür. Türkiye’nin tüm illerinde kesintisiz nakliyat hizmetleri sunan bir firma olduğu bilinmektedir. Hedefleri arasında Türkiye’nin tüm illerinde en iyi şekilde hizmet verme ve müşteri memnuniyeti sağlama yolunda ilerleyen bir firma olduğunu söylemek mümkündür. Uzun yıllardır özveri içinde çalışmalarını sürdüren Marmara nakliyat firması Türkiye’nin tüm illerinde bulunan şubeleri ile hizmetlerine devam etmektedir.</p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content inner-offset wow fadeIn" data-wow-delay="0.3s">
        <div class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <h3 style="margin-top: 15px; margin-bottom: 15px; font-weight: 700; font-size: 14px; color: rgb(0, 0, 0); font-family: " open="" sans",="" arial,="" sans-serif;"="">İstanbul Evden Eve Nakliyat</h3>
                    <p style="margin-bottom: 15px; text-align: justify; font-family: " open="" sans",="" arial,="" sans-serif;="" font-size:="" 14px;"="">Marmara nakliyat en yakın mesafeli yerden en uzak mesafelere kadar güvenli şekilde hizmetler sunan bir firmadır. İstanbul en yakın mesafesi olmasına rağmen metropol özellikli ve büyük bir şehirdir. Genel anlamda tüm işlemlerin uzun sürdüğü yerlerden biri olmasına rağmen Marmara nakliyat firması en güvenli ve hızlı şekilde gün içi nakliyat hizmetinizi bitirebilmektedir. Firmadan nakliyat işlemlerinize yönelik telefon ederek bilgi almanız mümkündür. Gerektiği yerde ücretsiz ekspertizinden faydalanarak ne kadar ödeyeceğinizi önceden hesaplamanız mümkündür. Bu özellikleri bakımından çok yönlü nakliyat firma özelliği taşıdığını göstermektedir.</p></p>
                </div>
            </div>
        </div>
    </div>

</div>