/* OBFUSCATED BY CSSOBFUSCATOR.COM at 2019/06/05 21:12:40 */
h6,[class~=adress-details] > div > span,[class~=attachments] li a,#to-top:hover,#partners [class~=owl-buttons] div,h2,[class~=bg-image][class~=blog-section] div div a,ul[class~=styled] li > ul > li > a,.our-services div > a > span > i,h3,[class~=comments] > div > span[class~=author],[class~=owl-theme] [class~=owl-controls] [class~=owl-buttons] div,h5,.nav-tabs > li > a,[class~=stats] > div > div,[class~=recent-posts] div a,ul[class~=blog-cats] li a,[class~=stats] > div > div:hover > span:first-child,.default-inp i,h1,h4,[class~=bg-image][class~=blog-section] h3,[class~=bg-image][class~=blog-section] div div a:hover,ul[class~=styled] > li > a,nav.pagination a,[class~=tags] a,[class~=why-us] li{
    color:#333;
}
.topmenu nav,[class~=topmenu]:before,[class~=two-news] > div div:last-child > div,#to-top,footer,[class~=why-us] li span{
    background:#333;
}
header,[class~=topmenu] nav:first-child:before{
    border-top-color:#333;
}
[class~=info-texts] div > div > div:before{
    border-bottom-color:#333;
}
@media screen and (max-width: 768px){
    [class~=info-texts] div > div > div p{
        background:#2e0000;
    }
}
[class~=main-menu] section nav,[class~=comments] > div > a[class~=reply]:hover,[class~=btn][class~=btn-sm][class~=btn-default]:before,.our-services div > a:hover > span,.stats > div > div:hover,[class~=tags] a:hover,#main-menu-bg,[class~=btn][class~=btn-danger],[class~=info-texts]:after,.main-menu:before,nav[class~=pagination] a:hover,ul[class~=blog-cats] > li:hover,[class~=post-info]:after,#menu-open,[class~=main-menu],[class~=testimonial-content] span,footer .color-part,[class~=navbar-main] > li > [class~=dropdown-menu],.btn.btn-danger:hover,[class~=big-hr][class~=color-2],[class~=comments] > div > a[class~=reply]:after,[class~=our-services][class~=styled] div > a:hover:after,[class~=customBgColor],[class~=btn][class~=btn-danger]:hover,.adress-details > div > span:after,[class~=btn][class~=btn-danger]{
    background-color:#b31101;
}
[class~=testimonial-content] span:before,[class~=testimonial-content] span:after{
    border-bottom-color:#b31101;
}
[class~=testimonial-content] span,[class~=our-services] div > a:hover > span,.btn.btn-sm.btn-default:hover,.tags a:hover,ul[class~=blog-cats] li:hover,nav[class~=pagination] a:hover,.comments > div > a.reply:hover,[class~=stats] > div > div:hover{
    border-left-color:#b31101;
}
.tags a:hover,[class~=testimonial-content] span,ul[class~=blog-cats] li:hover,.btn.btn-sm.btn-default:hover,nav[class~=pagination] a:hover,[class~=stats] > div > div:hover,[class~=our-services] div > a:hover > span,.comments > div > a.reply:hover{
    border-bottom-color:#b31101;
}
[class~=testimonial-content] span,ul[class~=blog-cats] li:hover,nav[class~=pagination] a:hover,.btn.btn-sm.btn-default:hover,.tags a:hover,[class~=stats] > div > div:hover,[class~=our-services] div > a:hover > span,.comments > div > a.reply:hover{
    border-right-color:#b31101;
}
nav[class~=pagination] a:hover,[class~=our-services] div > a:hover > span,[class~=testimonial-content] span,[class~=stats] > div > div:hover,.tags a:hover,ul[class~=blog-cats] li:hover,.btn.btn-sm.btn-default:hover,.comments > div > a.reply:hover{
    border-top-color:#b31101;
}
[class~=info-texts] div > div > div:last-child:before,[class~=big-hr][class~=color-2]:before,[class~=big-hr][class~=color-2]:after{
    border-top-color:#b31101;
}
.twitter-feeds div span,footer [class~=copy] a,[class~=recent-posts] div a:hover,.stats span:first-child{
    color:#b31101;
}
[class~=our-services] div > a:hover > span:after,[class~=our-services] div > a:hover > span:before{
    border-bottom-color:#b31101;
}
@media screen and (max-width: 768px){
    .main-menu a:hover,#menu-close{
        color:#b31101;
    }
    [class~=info-texts] div > div > div:last-child p{
        background:#b31101;
    }
}
[class~=navbar-main] > li > [class~=dropdown-menu] > li > a:focus,[class~=navbar-main] [class~=open] > a:hover,[class~=navbar-main] > li > a:hover,[class~=navbar-main] [class~=open] > a,[class~=navbar-main] > li > a:focus,h6.color-1,h1.color-1,[class~=navbar-main] > li > [class~=dropdown-menu] > li > a:hover,h4[class~=color-1],h3[class~=color-1],h5[class~=color-1],[class~=navbar-main] [class~=open] > a:focus,[class~=twitter-feeds] div i,h2.color-1{
    color:#e78b02;
}
.our-services div > a:hover:after,ul[class~=styled] > li[class~=active],[class~=btn][class~=btn-success],[class~=info-texts]:before,ul[class~=blog-cats] > li:before,[class~=nav-tabs] > li[class~=active] > a:focus,nav[class~=pagination] a[class~=active],[class~=big-hr][class~=color-1],[class~=btn][class~=btn-sm][class~=btn-success]:before,[class~=nav-tabs] > li[class~=active] > a:hover,ul.blog-cats li > ul,[class~=one-news] > div > div,.nav-tabs > li.active > a,[class~=btn-success]:hover{
    background-color:#e78b02;
}
nav[class~=pagination] a[class~=active],[class~=btn][class~=btn-sm][class~=btn-success]:hover,[class~=nav-tabs] > li[class~=active]{
    border-left-color:#e78b02;
}
[class~=ip-header] [class~=ip-loader] svg path[class~=ip-loader-circle]{
    stroke:#b31101;
}
[class~=btn][class~=btn-sm][class~=btn-success]:hover,[class~=nav-tabs] > li[class~=active],nav[class~=pagination] a[class~=active]{
    border-bottom-color:#e78b02;
}
[class~=info-texts] div > div > div:first-child:before,[class~=stats] > div > div:hover,ul[class~=styled] li > ul{
    border-bottom-color:#e78b02;
}
nav[class~=pagination] a[class~=active],[class~=btn][class~=btn-sm][class~=btn-success]:hover,[class~=nav-tabs] > li[class~=active]{
    border-right-color:#e78b02;
}
[class~=btn][class~=btn-sm][class~=btn-success]:hover,[class~=nav-tabs] > li[class~=active],nav[class~=pagination] a[class~=active]{
    border-top-color:#e78b02;
}
[class~=info-texts] div > div > div:first-child:before,.big-hr.color-1:before,[class~=big-hr][class~=color-1]:after{
    border-top-color:#e78b02;
}
@media screen and (max-width: 768px){
    [class~=info-texts] div > div > div:first-child p{
        background:#e78b02;
    }
}
