@font-face {
	font-family: "Flaticon";
	src: url("/assets/font/flaticon.eot");
	src: url("/assets/font/flaticon.eot") format("embedded-opentype"),
	url("/assets/font/flaticon.woff") format("woff"),
	url("/assets/font/flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 34px;
	font-style: normal;
}.flaticon-boats4:before {
	content: "\e000";
}
.flaticon-flying:before {
	content: "\e001";
}
.flaticon-garage1:before {
	content: "\e002";
}
.flaticon-package7:before {
	content: "\e003";
}
.flaticon-railway1:before {
	content: "\e004";
}
.flaticon-traffic-signal:before {
	content: "\e005";
}
