/* OBFUSCATED BY CSSOBFUSCATOR.COM at 2019/06/05 21:11:45 */
.hgroup h2 + h1, [class~=hgroup] h1 + h2 {
    margin-top: .15625in;
}

.sp-body, body[class~=menu-open] {
    overflow: hidden;
}

[class~=topmenu] nav:first-child:before, article, [class~=our-services] div > a > span:before, .main-menu section nav a {
    display: block;
}

.container-fluid {
    max-width: 877.5pt;
}

a:focus {
    outline: none;
}

[class~=our-services] div > a > span:before, [class~=topmenu] nav:first-child:before {
    content: "";
}

#logo {
    background-image: url("../img/logo.png");
}

[class~=service-item] img[class~=full-width] {
    max-height: 150pt;
}

#logo {
    width: 15.25pc;
}

[class~=topmenu] a:hover {
    text-decoration: underline;
}

[class~=blog-section][class~=bg-image] {
    background-image: url("../media/bg/2.jpg");
}

body {
    font-family: "Roboto",sans-serif;
}

.container-fluid, img.full-width {
    width: 100%;
}

.main-menu section nav {
    display: none;
}

.navbar-main > li > .dropdown-menu > li > a:focus, [class~=navbar-main] [class~=open] > a {
    background-color: rgba(0,0,0,0);
}

.main-menu section nav, [class~=our-services] div > a > span:before, .topmenu:before, [class~=main-menu] > section > a:after {
    position: absolute;
}

[class~=bg-image] h1 {
    margin-top: 0pt;
}

[class~=navbar-main] [class~=open] > a {
    border-left-color: rgba(255,255,255,.4);
}

hgroup h1, [class~=hgroup] h2, .hgroup h1 {
    margin-left: 0pc;
}

.main-menu section nav {
    z-index: 2;
}

[class~=hgroup] h2, .hgroup h1 {
    margin-bottom: 0pc;
}

.main-menu section nav {
    line-height: 1.375pc;
}

[class~=block-content] {
    margin-top: 60pt;
}

[class~=topmenu] nav:first-child:before {
    width: 0pc;
}

.main-menu section nav {
    font-size: 9pt;
}

.team .user-info {
    padding-left: 2px;
}

#fleet-gallery div {
    padding-left: .052083333in;
}

.topmenu nav:last-child a:last-child {
    margin-right: 0px;
}

[class~=block-content] {
    margin-bottom: 80px;
}

[class~=navbar-main] [class~=open] > a {
    border-bottom-color: rgba(255,255,255,.4);
}

[class~=navbar-main] [class~=open] > a {
    border-right-color: rgba(255,255,255,.4);
}

.bg-image {
    background-attachment: fixed !important;
}

.btn.btn-danger:hover, .our-services div > a:hover > span > i {
    color: #fff;
}

[class~=info-texts] div > div > div:first-child:before {
    border-top-width: 135pt;
}

.bg-image {
    background-position: center center;
}

.hgroup h1, [class~=hgroup] h2 {
    margin-right: 0pc;
}

#fleet-gallery [class~=owl-buttons] div {
    background: none;
}

.hgroup h1, [class~=hgroup] h2 {
    margin-top: 0pc;
}

.main-menu section nav, [class~=hgroup] h2 {
    font-weight: 400;
}

[class~=navbar-main] [class~=open] > a {
    border-top-color: rgba(255,255,255,.4);
}

[class~=btn][class~=btn-sm][class~=btn-success] {
    background-color: #fff;
}

.main-menu section nav, #fleet-gallery [class~=owl-buttons] div {
    padding-left: 1.25pc;
}

.navbar-main > li > .dropdown-menu > li > a {
    border-top-width: .75pt;
}

.bg-image, #logo {
    background-repeat: no-repeat;
}

[class~=topmenu] nav:first-child:before {
    height: 0pt;
}

[class~=info-texts] div > div > div:first-child:before, [class~=topmenu] nav:first-child:before, .navbar-main > li > .dropdown-menu > li > a {
    border-top-style: solid;
}

#logo {
    height: 2.625pc;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-left-width: 0;
}

.bg-image {
    background-size: cover;
}

.main-menu section nav {
    padding-bottom: 10px;
}

[class~=inner-offset] {
    padding-top: 37.5pt;
}

[class~=topmenu] nav:first-child:before {
    border-top-width: .40625in;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-bottom-width: 0;
}

.main-menu section nav {
    padding-right: 15pt;
}

ul[class~=blog-cats] li > ul > li > a {
    font-weight: 500;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-right-width: 0;
}

[class~=hgroup] h2 {
    font-family: "Roboto",sans-serif;
}

#fleet-gallery [class~=owl-buttons] div {
    padding-bottom: 3.75pt;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-top-width: 0;
}

[class~=btn][class~=btn-sm][class~=btn-success] {
    color: #666;
}

.main-menu section nav, [class~=main-menu] > section > a {
    padding-top: 0;
}

[class~=main-menu] > section > a {
    position: relative;
}

[class~=hgroup] h2 {
    font-size: 10.5pt;
}

[class~=hgroup] h2 {
    color: #888;
}

[class~=hgroup] h2 {
    line-height: .229166667in;
}

[class~=hgroup] h2 {
    letter-spacing: .03125in;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-left-style: none;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-bottom-style: none;
}

[class~=topmenu] nav:first-child:before {
    border-top-color: currentColor;
}

[class~=main-menu] > section > a {
    padding-left: 1.5625pc;
}

.main-menu > a:after, .topmenu:before {
    content: "";
}

#fleet-gallery .owl-buttons, hgroup h2 + h1 {
    margin-top: .15625in;
}

[class~=topmenu] nav:first-child:before {
    border-image: none;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-right-style: none;
}

[class~=our-services] div > a > span:before {
    width: 0;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-top-style: none;
}

.main-menu > a:after, [class~=main-menu] > section > a:after {
    right: 0pt;
}

hgroup h1 {
    margin-bottom: 0pc;
}

[class~=main-menu] > section > a {
    padding-bottom: 0;
}

[class~=main-menu] > section > a {
    padding-right: 1.5625pc;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-left-color: currentColor;
}

#menu-open:hover {
    opacity: 1;
}

.navbar-main > li > .dropdown-menu > li > a {
    border-top-color: rgba(255,255,255,.4);
}

.topmenu:before {
    display: block;
}

.topmenu:before {
    left: 50%;
}

.main-menu > a:after {
    position: absolute;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-bottom-color: currentColor;
}

.topmenu:before {
    width: 50%;
}

[class~=inner-offset] {
    padding-bottom: 50px;
}

.topmenu:before, [class~=topmenu] nav {
    height: 39px;
}

.team .user-info {
    padding-bottom: .3125in;
}

[class~=topmenu] nav {
    line-height: 24pt;
}

[class~=main-menu] > section > a:after, .main-menu > a:after {
    top: 50%;
}

.main-menu > a:after, [class~=main-menu] > section > a:after {
    margin-top: -6pt;
}

#logo {
    cursor: pointer;
}

[class~=topmenu] nav:first-child:before {
    border-left-width: 29.25pt;
}

[class~=topmenu] a {
    margin-left: .104166667in;
}

[class~=topmenu] nav:first-child:before, [class~=header-padding] div {
    border-left-style: solid;
}

hgroup h1 {
    margin-right: 0pc;
}

#logo, [class~=main-menu] > section > a:after, [class~=topmenu] a, .main-menu > a:after {
    display: inline-block;
}

.navbar-main > li > .dropdown-menu > li > a:focus {
    border-left-color: rgba(255,255,255,.4);
}

[class~=hgroup] {
    margin-bottom: 3.125pc;
}

[class~=topmenu] a {
    margin-bottom: 0;
}

[class~=topmenu] a {
    margin-right: .104166667in;
}

[class~=topmenu] a {
    margin-top: 0;
}

.team .user-info, [class~=navbar-main] > li > [class~=dropdown-menu], [class~=header-padding] {
    padding-right: 0;
}

[class~=header-padding], [class~=topmenu] a {
    font-size: 8.25pt;
}

.team .user-info {
    padding-top: 40px;
}

[class~=header-padding], [class~=navbar-main] > li > [class~=dropdown-menu] {
    padding-left: 0;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-right-color: currentColor;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-top-color: currentColor;
}

[class~=main-menu] > section > a:after, .main-menu > a:after {
    height: 16px;
}

[class~=main-menu] > section > a:after, .main-menu > a:after {
    width: .0625pc;
}

.main-menu > a:after {
    opacity: .4;
}

[class~=main-menu] > section > a:after {
    content: "";
}

.navbar-main > li > a {
    border-right-width: 1px;
}

[class~=header-padding] {
    padding-bottom: 18.75pt;
}

[class~=topmenu] a {
    text-decoration: none;
}

[class~=navbar-main] > li > [class~=dropdown-menu], .navbar-main > li > .dropdown-menu > li > a {
    border-image: none;
}

[class~=topmenu] a, [class~=main-menu] {
    text-transform: uppercase;
}

aside {
    display: block;
}

[class~=our-services] div > a > span:before {
    height: 0;
}

[class~=our-services] div > a > span:before {
    border-bottom-width: 5pc;
}

#fleet-gallery [class~=owl-buttons] div {
    padding-right: 15pt;
}

[class~=header-padding] div {
    text-align: left;
}

.navbar-main > li > a, #fleet-gallery div, [class~=navbar-main] > li > [class~=dropdown-menu] {
    padding-bottom: 0;
}

[class~=header-padding] div {
    float: left;
}

[class~=header-padding] {
    padding-top: 18.75pt;
}

.navbar-main > li > a {
    border-right-style: solid;
}

[class~=header-padding] div {
    border-left-width: .0625pc;
}

#logo {
    border-left-width: medium;
}

[class~=header-padding] div {
    border-left-color: #eee;
}

#fleet-gallery div {
    padding-right: .052083333in;
}

[class~=navbar-main] > li > [class~=dropdown-menu], #fleet-gallery div {
    padding-top: 0;
}

[class~=topmenu] nav:first-child:before {
    border-left-color: transparent;
}

[class~=topmenu] nav:first-child:before {
    position: absolute;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    display: block !important;
}

[class~=header-padding] div {
    border-image: none;
}

hgroup h1 {
    margin-top: 0pc;
}

#logo {
    border-bottom-width: medium;
}

.navbar-main .open > a:focus {
    background-color: rgba(0,0,0,0);
}

.navbar-main > li > .dropdown-menu > li > a, .btn.btn-sm.btn-default:hover {
    color: #fff;
}

[class~=header-padding] {
    font-weight: 500;
}

[class~=main-menu] > a, [class~=main-menu] {
    position: relative;
}

[class~=main-menu], .navbar-main > li > .dropdown-menu > li > a {
    font-size: 9.75pt;
}

[class~=main-menu] {
    font-family: "Montserrat",sans-serif;
}

[class~=btn][class~=btn-sm][class~=btn-default] {
    color: #666;
}

.navbar-main > li > a {
    border-right-color: rgba(255,255,255,.4);
}

[class~=topmenu] nav:first-child:before {
    left: -29.25pt;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-left-color: #fff;
}

.team .soc-icons {
    display: inline-block;
}

.navbar-main > li > a {
    border-image: none;
}

.navbar-main > li > a {
    padding-left: 1.5625pc;
}

[class~=our-services] div > a > span:before {
    border-bottom-style: solid;
}

[class~=header-padding] div {
    padding-left: .9375pc;
}

[class~=main-menu] section, [class~=main-menu] {
    height: .677083333in;
}

[class~=big-posts] [class~=post-info] {
    margin-bottom: 41.25pt;
}

[class~=our-services] div > a > span:before {
    border-bottom-color: #eee;
}

.navbar-main .open > a:focus {
    border-left-color: rgba(255,255,255,.4);
}

[class~=main-menu] {
    line-height: .645833333in;
}

[class~=main-menu], .navbar-main > li > .dropdown-menu > li > a {
    font-weight: 700;
}

[class~=info-texts] div > div > div:first-child:before {
    border-top-color: currentColor;
}

[class~=header-padding] div {
    padding-bottom: .052083333in;
}

[class~=header-padding] span, [class~=main-menu] section:hover nav, [class~=column-info] > div > span, [class~=our-services] div > a:after {
    display: block;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    height: 0pc;
}

[class~=header-padding] div, #fleet-gallery [class~=owl-buttons] div {
    padding-top: 3.75pt;
}

[class~=our-services] div > a > span:before, [class~=info-texts] div > div > div:first-child:before {
    border-image: none;
}

[class~=header-padding] div {
    padding-right: .9375pc;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    overflow: hidden;
}

[class~=header-padding] span {
    text-transform: uppercase;
}

[class~=main-menu] > a, .navbar-main > li > a {
    padding-right: 1.5625pc;
}

.navbar-main > li > a, [class~=main-menu] > a {
    padding-top: 0;
}

[class~=navbar-main] {
    margin-left: 0;
}

[class~=main-menu] > section > a:after {
    opacity: .4;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    opacity: 0;
}

[class~=main-menu] section {
    display: inline-block;
}

.navbar-main > li > .dropdown-menu > li > a, [class~=main-menu] > a {
    padding-left: 1.5625pc;
}

#logo {
    border-right-width: medium;
}

[class~=main-menu] > a {
    padding-bottom: 0;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    border-radius: 0;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-bottom-color: #fff;
}

#logo {
    border-top-width: medium;
}

[class~=main-menu]:before, [class~=our-services] div > a:after {
    content: "";
}

[class~=navbar-main] {
    margin-bottom: 0;
}

    [class~=navbar-main] > li > [class~=dropdown-menu] {
        box-shadow: none;
    }

[class~=main-menu]:before, [class~=our-services] div > a:after {
    position: absolute;
}

[class~=main-menu]:before {
    left: -.8125pc;
}

[class~=column-info] > div > span {
    float: right;
}

[class~=big-posts] [class~=post-info] {
    margin-top: .9375pc;
}

#logo {
    border-left-style: none;
}

[class~=our-services] div > a:after {
    right: 0pt;
}

[class~=navbar-main] {
    margin-right: 0;
}

[class~=our-services] div > a:after {
    top: -1px;
}

[class~=navbar-main] {
    margin-top: 0;
}

    [class~=navbar-main] > li > [class~=dropdown-menu] {
        -webkit-transition: all 500ms ease 0s;
    }

[class~=column-info] > div > span {
    margin-top: -.208333333in;
}

[class~=main-menu]:before {
    display: block;
}

.main-menu > a:last-child:after {
    display: none;
}

[class~=column-info] > div > span {
    margin-right: -8px;
}

[class~=our-services] div > a, [class~=column-info] > div > span, [class~=big-hr] {
    position: relative;
}

.navbar-main .open > a:focus, .navbar-main > li > .dropdown-menu > li > a:focus {
    border-bottom-color: rgba(255,255,255,.4);
}

[class~=navbar-main] > li:last-child > a {
    border-right-width: 0pt;
}

[class~=our-services] div > a:after {
    bottom: -.0625pc;
}

[class~=our-services] div > a:after {
    width: 4px;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-right-color: #fff;
}

[class~=main-menu]:before {
    width: 1.875pc;
}

[class~=column-info] > div > span {
    z-index: 2;
}

[class~=main-menu]:before {
    height: 48.75pt;
}

[class~=our-services] div > a > span {
    text-align: center;
}

[class~=info-texts] div > div > div:first-child:before {
    border-bottom-width: medium;
}

[class~=main-menu]:before {
    -webkit-transform: skew(-20deg);
}

[class~=column-info] > div > span {
    height: .208333333in;
}

[class~=main-menu]:before {
    -moz-transform: skew(-20deg);
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    -moz-transition: all 500ms ease 0s;
}

[class~=our-services] div > a > span {
    padding-top: .15625in;
}

[class~=column-info] > div > span {
    width: 45pt;
}

[class~=main-menu]:before {
    -o-transform: skew(-20deg);
}

.navbar-main > li {
    padding-left: 0;
}

hgroup h2 {
    margin-left: 0pc;
}

[class~=navbar-main] > li:last-child > a, #logo {
    border-right-style: none;
}

.navbar-main > li {
    padding-bottom: 24px;
}

.navbar-main > li {
    padding-right: 0;
}

[class~=our-services] div > a > span:before {
    border-right-width: .260416667in;
}

[class~=big-hr] {
    margin-left: auto;
}

[class~=column-info] > div > span {
    -webkit-transform: skew(-30deg);
}

.navbar-main > li {
    padding-top: 1.3125pc;
}

[class~=column-info] img {
    width: 100%;
}

[class~=big-hr], hgroup h2 {
    margin-bottom: 0pt;
}

[class~=our-services] div > a > span:before {
    border-right-style: solid;
}

[class~=our-services] div > a > span:before {
    border-right-color: transparent;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    -o-transition: all 500ms ease 0s;
}

[class~=our-services] div > a > span {
    width: 52.5pt;
}

[class~=column-info] img {
    height: auto;
}

[class~=column-info] h3 {
    margin-top: 2.5pc;
}

[class~=column-info] > div > span {
    -moz-transform: skew(-30deg);
}

[class~=column-info] h3 {
    margin-bottom: .260416667in;
}

[class~=column-info] > div > span {
    -o-transform: skew(-30deg);
}

.navbar-main > li > .dropdown-menu > li > a {
    padding-bottom: .3125pc;
}

[class~=column-info] h3 {
    font-size: .145833333in;
}

[class~=big-hr] {
    margin-right: auto;
}

#testimonials2 [class~=owl-buttons] div {
    padding-left: 1.25pc;
}

[class~=navbar-main] > li > [class~=dropdown-menu] {
    transition: all 500ms ease 0s;
}

[class~=big-hr] {
    margin-top: -26.25pt;
}

[class~=stats] span:first-child, .big-hr:before {
    position: absolute;
}

[class~=column-info] a[class~=btn] {
    margin-top: 1.5625pc;
}

.big-hr:before {
    top: 0pt;
}

[class~=big-hr] a[class~=btn] {
    margin-top: -1.875pc;
}

[class~=info-texts] div > div > div:first-child:before, #logo {
    border-bottom-style: none;
}

.big-hr:before {
    left: -70px;
}

.big-hr:before, [class~=our-services] div > a > span:after {
    content: "";
}

[class~=our-services] div > a {
    padding-left: 78.75pt;
}

[class~=navbar-main] > li:last-child > a {
    border-right-color: currentColor;
}

[class~=big-hr] {
    max-width: 712.5pt;
}

[class~=single-post] [class~=post-info] {
    margin-bottom: 41.25pt;
}

[class~=single-post] [class~=post-info] {
    margin-top: .9375pc;
}

[class~=our-services] div > a {
    padding-bottom: 0pc;
}

    [class~=our-services] div > a, .big-hr:before, details, [class~=our-services] div > a > span:after {
        display: block;
    }

[class~=our-services] div > a {
    padding-right: .625pc;
}

[class~=stats] span:first-child {
    text-align: center;
}

[class~=our-services] div > a {
    padding-top: 40px;
}

    [class~=our-services] div > a > span {
        height: 60pt;
    }

hgroup h2 {
    margin-right: 0pc;
}

[class~=our-services] div > a {
    cursor: pointer;
}

.big-hr:before {
    width: 0;
}

.navbar-main .open > a:focus {
    border-right-color: rgba(255,255,255,.4);
}

.big-hr:before {
    height: 0;
}

.navbar-main > li > .dropdown-menu > li > a {
    padding-right: .260416667in;
}

[class~=our-services] div > a {
    border-left-width: .010416667in;
}

[class~=stats] span:first-child {
    padding-top: 15pt;
}

[class~=stats] span:first-child {
    width: 45pt;
}

ul[class~=blog-cats] li > ul > li > a {
    color: #fff;
}

[class~=our-services] div > a {
    border-bottom-width: .010416667in;
}

[class~=navbar-main] > li:last-child > a {
    border-image: none;
}

.big-hr:before {
    border-top-width: 101.25pt;
}

[class~=navbar-main] [class~=open] > a:hover, .navbar-main > li > a:focus {
    background-color: rgba(0,0,0,0);
}

[class~=our-services] div > a {
    border-right-width: medium;
}

.big-hr:before, [class~=our-services] div > a {
    border-top-style: solid;
}

[class~=our-services] div > a {
    border-top-width: .010416667in;
}

.navbar-main > li > .dropdown-menu > li > a {
    padding-top: .3125pc;
}

.navbar-main > li > a:focus {
    border-left-color: rgba(255,255,255,.4);
}

[class~=our-services] div > a, .big-hr:before {
    border-top-color: currentColor;
}

.big-hr:before {
    border-image: none;
}

[class~=stats] span:first-child {
    height: 70px;
}

.big-hr:before {
    border-left-width: 52.5pt;
}

.big-hr:before, [class~=our-services] div > a {
    border-left-style: solid;
}

    [class~=our-services] div > a > span:before {
        top: -.75pt;
    }

    [class~=our-services] div > a > span:before {
        right: -18.75pt;
    }

[class~=small-posts] [class~=post-info] {
    margin-bottom: 21pt;
}

[class~=big-hr] {
    height: 1.40625in;
}

[class~=our-services] div > a {
    border-bottom-style: solid;
}

[class~=big-hr] {
    padding-top: .260416667in;
}

[class~=our-services] div > a {
    border-right-style: none;
}

.big-hr:before {
    border-left-color: transparent;
}

[class~=our-services] div > a > span, [class~=big-hr]:after {
    position: absolute;
}

.navbar-main .open > a:focus, .navbar-main > li > a:focus {
    border-top-color: rgba(255,255,255,.4);
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-top-color: #fff;
}

[class~=our-services] div > a, #logo {
    border-left-color: currentColor;
}

#fleet-gallery img {
    width: 100%;
}

[class~=our-services] div > a, #logo {
    border-bottom-color: currentColor;
}

.navbar-main > li > a:focus {
    border-bottom-color: rgba(255,255,255,.4);
}

[class~=our-services] div > a > span, [class~=stats] span:first-child {
    left: -10px;
}

[class~=big-hr]:after {
    right: -.729166667in;
}

hgroup h2 {
    margin-top: 0pc;
}

#logo {
    border-top-style: none;
}

[class~=two-news] > div div:last-child h3 {
    font-size: 1.125pc;
}

.navbar-main > li > a:focus, .navbar-main > li > .dropdown-menu > li > a:focus {
    border-right-color: rgba(255,255,255,.4);
}

[class~=our-services] div > a {
    border-right-color: currentColor;
}

[class~=big-hr] {
    text-align: center;
}

#fleet-gallery img {
    height: auto;
}

[class~=big-hr]:after {
    top: 0pt;
}

#testimonials2 [class~=owl-buttons] div {
    padding-bottom: 3.75pt;
}

[class~=fleet-gallery] {
    background-image: url("../img/1.jpg");
}

[class~=stats] span:first-child {
    top: 1.25pc;
}

[class~=big-hr]:after {
    content: "";
}

[class~=why-us] {
    padding-left: 0px;
}

[class~=stats] span:first-child, figcaption, [class~=our-services] div > a > span, [class~=big-hr]:after {
    display: block;
}

[class~=why-us], [class~=stats] span:first-child {
    border-top-width: 1px;
}

    [class~=why-us] li p, hgroup h2 {
        font-family: "Roboto",sans-serif;
    }

#testimonials [class~=owl-buttons] {
    margin-left: .104166667in;
}

[class~=our-services] div > a {
    border-image: none;
}

    [class~=our-services] div > a > span {
        top: 33.75pt;
    }

    [class~=stats] span:first-child, [class~=our-services] div > a > span {
        border-left-width: .010416667in;
    }

[class~=navbar-main] > li > a:hover {
    background-color: rgba(0,0,0,0);
}

#testimonials2 [class~=owl-buttons] div {
    padding-right: 1.25pc;
}

[class~=our-services] div > a {
    height: 1.875in;
}

[class~=our-services] div > a {
    margin-bottom: .416666667in;
}

    [class~=our-services] div > a > span, [class~=stats] span:first-child {
        border-bottom-width: .010416667in;
    }

        [class~=our-services] div > a > span:after, [class~=big-hr]:after {
            width: 0;
        }

    [class~=our-services] div > a > span, [class~=stats] span:first-child, [class~=big-hr]:after, [class~=why-us] {
        border-top-style: solid;
    }

#testimonials2 [class~=owl-buttons] div {
    padding-top: 3.75pt;
}

[class~=why-us], [class~=big-hr]:after {
    border-top-color: currentColor;
}

[class~=navbar-main] [class~=open] > a:hover, [class~=navbar-main] > li > a:hover {
    border-left-color: rgba(255,255,255,.4);
}

[class~=big-hr]:after {
    height: 0;
}

[class~=two-news] > div div:last-child h3 {
    text-transform: none;
}

[class~=our-services] div > a > span, [class~=stats] span:first-child {
    border-right-width: medium;
}

#testimonials2 [class~=owl-buttons] div {
    border-left-color: #ddd;
}

[class~=why-us] li p {
    margin-top: .15625in;
}

[class~=why-us] {
    border-image: none;
}

[class~=big-hr]:after {
    border-top-width: 1.40625in;
}

[class~=why-us] li p {
    font-size: 14px;
}

[class~=testimonial-content] {
    position: relative;
}

[class~=navbar-main] > li > a:hover {
    border-bottom-color: rgba(255,255,255,.4);
}

[class~=our-services] div > a > span, [class~=stats] span:first-child {
    border-left-style: solid;
}

hgroup h2, [class~=two-news] > div div:last-child h3 {
    font-weight: 400;
}

[class~=our-services] div > a > span:after {
    position: absolute;
}

[class~=testimonial-content] {
    margin-left: 10px;
}

[class~=big-hr]:after {
    border-image: none;
}

[class~=testimonial-content] {
    padding-left: 80px;
}

[class~=stats] span:first-child, [class~=our-services] div > a > span {
    border-bottom-style: solid;
}

[class~=darken-block] [class~=testimonial-content] {
    background-color: #fff;
}

[class~=big-hr]:after {
    border-right-width: 4.375pc;
}

[class~=our-services] div > a > span, [class~=stats] span:first-child {
    border-right-style: none;
}

[class~=navbar-main] > li > a:hover {
    border-right-color: rgba(255,255,255,.4);
}

[class~=big-hr]:after {
    border-right-style: solid;
}

[class~=info-texts] div > div > div:first-child:before {
    border-bottom-color: currentColor;
}

[class~=navbar-main] > li > a:hover {
    border-top-color: rgba(255,255,255,.4);
}

[class~=testimonial-content] {
    padding-bottom: 30pt;
}

[class~=btn-success]:hover, [class~=btn][class~=btn-success] {
    color: #fff;
}

[class~=our-services] div > a:hover {
    text-decoration: none;
}

[class~=info-texts] div > div > div:first-child:before {
    z-index: 5;
}

#logo, [class~=stats] span:first-child {
    border-right-color: currentColor;
}

    [class~=stats] span:first-child i {
        font-size: 24px;
    }

[class~=why-us] li p {
    display: none;
}

[class~=stats] span:first-child:before, footer, [class~=stats] span[class~=percent], figure {
    display: block;
}

[class~=why-us] li span {
    cursor: pointer;
}

#testimonials2 [class~=owl-buttons] div {
    border-bottom-color: #ddd;
}

[class~=two-news] > div div:last-child h3 {
    margin-left: 0pc;
}

[class~=our-services] div > a > span {
    border-top-width: .75pt;
}

[class~=big-hr]:after {
    border-right-color: transparent;
}

[class~=testimonial-content] {
    padding-right: .9375pc;
}

#logo {
    border-top-color: currentColor;
}

[class~=big-hr] h2 {
    font-size: 1.0625pc;
}

[class~=stats] span:first-child i {
    margin-left: .3125pc;
}

[class~=why-us] li span {
    text-indent: 0pt;
}

[class~=why-us] li span {
    top: 1.25pc;
}

[class~=testimonial-content] {
    padding-top: 45px;
}

[class~=why-us] li span, [class~=big-hr] div {
    display: inline-block;
}

[class~=stats] span:first-child, [class~=our-services] div > a > span {
    border-left-color: #eee;
}

[class~=stats] span:first-child, [class~=our-services] div > a > span {
    border-bottom-color: #eee;
}

[class~=testimonial-content] {
    margin-bottom: 40px;
}

[class~=testimonial-author] {
    margin-right: 30pt;
}

[class~=our-services] div > a > span, [class~=stats] span:first-child {
    border-top-color: #eee;
}

[class~=stats] span:first-child, #logo {
    border-image: none;
}

    [class~=stats] span:first-child:before {
        content: "";
    }

.why-us li, [class~=read-all-news], .why-us li {
    position: relative;
}

#menu-close {
    display: none !important;
}

[class~=stats] span:first-child {
    background: #fff;
}

.news-item {
    margin-bottom: 22.5pt;
}

#menu-open {
    margin-left: -15px;
}

[class~=two-news] > div div:last-child h3 {
    margin-bottom: 20px;
}

[class~=why-us] li span {
    width: 25px;
}

[class~=why-us] li span, [class~=stats] span[class~=percent] {
    font-family: "Roboto",sans-serif;
}

.why-us li, #partners a {
    padding-left: 0;
}

[class~=why-us] li span {
    height: 25px;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-left-style: solid;
}

.why-us li {
    text-indent: 15px;
}

.btn.btn-danger {
    color: #fff;
}

[class~=why-us] li span, [class~=stats] span:first-child:before {
    position: absolute;
}

.why-us li {
    font-family: "Montserrat",sans-serif;
}

[class~=search-form-modal][class~=open] {
    height: 100%;
}

[class~=why-us] li span {
    line-height: 1.5625pc;
}

[class~=header_search_form] [class~=form-group], [class~=stats] span[class~=percent] {
    float: left;
}

[class~=read-all-news] {
    margin-top: -82.5pt;
}

[class~=stats] span[class~=percent] {
    font-size: 27pt;
}

[class~=title-space] {
    margin-left: .15625in;
}

[class~=why-us] li span {
    text-align: center;
}

[class~=stats] span:first-child:before {
    width: 0;
}

[class~=info-texts] div > div > div:first-child:before {
    top: 0pt;
}

[class~=our-services] div > a > span {
    border-right-color: currentColor;
}

.why-us li {
    list-style: none;
}

hgroup h2 {
    font-size: 10.5pt;
}

.why-us li {
    border-bottom-width: .010416667in;
}

[class~=info-texts] div > div > div:last-child:before {
    border-top-width: 135pt;
}

[class~=stats] span[class~=percent] {
    font-weight: 700;
}

[class~=stats] span[class~=percent] {
    margin-right: .9375pc;
}

[class~=info-texts] div > div > div:last-child:before {
    border-top-style: solid;
}

[class~=header_search_form] [class~=form-group] [class~=form-control], .why-us li {
    border-bottom-style: solid;
}

.why-us li {
    border-bottom-color: #eee;
}

[class~=logo-footer], [class~=testimonial-content] span:before, [class~=testimonial-content]:after, header {
    display: block;
}

[class~=two-news] > div div:last-child h3 {
    margin-right: 0pc;
}

[class~=why-us] li span {
    right: .052083333in;
}

[class~=testimonial-content] span:before, [class~=testimonial-content]:after {
    content: "";
}

.why-us li, [class~=our-services] div > a > span {
    border-image: none;
}

[class~=logo-footer] {
    background: url("../img/logo-footer.png") no-repeat;
}

hgroup h2 {
    color: #888;
}

#menu-open {
    margin-right: -.15625in;
}

[class~=info-texts] div > div > div:last-child:before {
    border-top-color: currentColor;
}

[class~=logo-footer] {
    width: 244px;
}

[class~=testimonial-content]:after, [class~=our-services] div > a > span:after, [class~=stats] span:first-child:before, [class~=testimonial-content] span:before {
    height: 0;
}

hgroup h2 {
    line-height: .229166667in;
}

[class~=our-services] div > a > span {
    background: #fff;
}

[class~=logo-footer] {
    height: 42px;
}

.why-us li {
    padding-bottom: 1.25pc;
}

[class~=one-news] > div > div h3 {
    font-size: 1.125pc;
}

.why-us li {
    padding-right: .3125in;
}

.why-us li {
    padding-top: .208333333in;
}

[class~=stats] span[class~=percent] {
    margin-top: -3.75pt;
}

[class~=news-item] div:first-child {
    padding-right: 0px;
}

#partners a {
    padding-bottom: 1.875pc;
}

[class~=testimonial-content] span:before, [class~=testimonial-content]:after {
    position: absolute;
}

[class~=news-item] div:last-child {
    padding-left: 0pt;
}

[class~=quote-form] button[class~=btn] {
    width: 100%;
}

[class~=testimonial-content]:after {
    bottom: -1.25pc;
}

[class~=testimonial-content]:after {
    right: .46875in;
}

[class~=one-news] > div > div h3 {
    text-transform: none;
}

[class~=testimonial-content] span:before, [class~=testimonial-content]:after {
    width: 0;
}

[class~=page-title] a:hover {
    text-decoration: none;
}

#menu-open, #menu-open {
    display: none;
}

[class~=info-texts] div > div > div:last-child:before {
    border-image: none;
}

[class~=header_search_form] [class~=form-group] {
    height: 100%;
}

[class~=info-texts] div > div > div:last-child:before {
    border-bottom-width: medium;
}

[class~=footer-icons], #partners a {
    padding-right: 0;
}

[class~=testimonial-content] span:before {
    border-bottom-width: .572916667in;
}

[class~=our-services] div > a > span:after {
    border-bottom-width: 5pc;
}

[class~=testimonial-content]:after {
    border-top-width: 1.25pc;
}

[class~=our-services] div > a > span:after, [class~=testimonial-content] span:before {
    border-bottom-style: solid;
}

[class~=testimonial-content]:after {
    border-top-style: solid;
}

[class~=team] [class~=user-info] small, [class~=team] [class~=user-info] h4 {
    font-family: "Montserrat",sans-serif;
}

[class~=footer-icons] {
    padding-left: 0;
}

[class~=two-news] > div div:last-child h3, [class~=one-news] > div > div h3 {
    margin-top: 0pc;
}

[class~=info-texts] div > div > div:last-child:before, [class~=testimonial-content] span:before {
    border-bottom-color: currentColor;
}

[class~=testimonial-content] span:before {
    border-image: none;
}

[class~=two-news] > div div:last-child h3 {
    font-size: 16px;
}

[class~=two-news] > div div:last-child h3 {
    line-height: .25in;
}

[class~=info-texts] div > div > div:last-child:before {
    border-bottom-style: none;
}

[class~=one-news] > div > div h3 {
    font-weight: 400;
}

[class~=stats] span:first-child:before {
    border-bottom-width: 4.375pc;
}

[class~=testimonial-content] span:before {
    border-right-width: 11.25pt;
}

[class~=testimonial-content]:after {
    border-top-color: currentColor;
}

[class~=one-news] > div > div h3 {
    margin-left: 0pc;
}

[class~=testimonial-content]:after {
    border-image: none;
}

[class~=testimonial-content] span:after, [class~=stats] span:first-child:before {
    border-bottom-style: solid;
}

[class~=testimonial-content]:after {
    border-right-width: 15pt;
}

[class~=one-news] > div > div h3 {
    margin-bottom: 20px;
}

[class~=testimonial-content]:after, [class~=testimonial-content] span:before {
    border-right-style: solid;
}

[class~=testimonial-content] span:before, [class~=testimonial-content]:after {
    border-right-color: transparent;
}

[class~=one-news] > div > div h3 {
    margin-right: 0pc;
}

[class~=team] [class~=user-info] p {
    margin-top: 1.25pc;
}

[class~=testimonial-content] span:before, [class~=stats] span:first-child:before {
    top: -.010416667in;
}

[class~=testimonial-content] span:before {
    right: -11.25pt;
}

[class~=testimonial-content] span {
    display: table-cell;
}

[class~=stats] span:first-child:before, [class~=our-services] div > a > span:after {
    border-bottom-color: #eee;
}

[class~=footer-icons] {
    padding-bottom: 30px;
}

[class~=two-news] > div div:last-child small, [class~=one-news] > div > div small {
    display: inline-block;
}

[class~=testimonial-content] span {
    text-align: center;
}

[class~=our-services] div > a > span:after, [class~=stats] span:first-child:before {
    border-image: none;
}

[class~=testimonial-content] span:after {
    content: "";
}

.search-form input[type=text], [class~=testimonial-content] span:after {
    display: block;
}

[class~=testimonial-content] span {
    padding-top: 16px;
}

[class~=one-news] > div > div small {
    padding-right: .15625in;
}

#testimonials [class~=owl-buttons] {
    margin-bottom: 0;
}

[class~=testimonial-content] span {
    width: 50px;
}

footer nav a:hover, .comments > div > a.reply:hover {
    text-decoration: none;
}

[class~=testimonial-content] span {
    height: 3.4375pc;
}

[class~=stats] span:first-child:before {
    border-right-width: 15pt;
}

[class~=testimonial-content] span:after, [class~=testimonial-content] span {
    position: absolute;
}

.team .user-info h4 {
    margin-top: 5px;
}

[class~=team] [class~=soc-icons] i {
    margin-right: 4.5pt;
}

[class~=testimonial-content] span:after {
    width: 0;
}

[class~=testimonial-content] span:after {
    height: 0;
}

[class~=testimonial-content] span {
    left: -.625pc;
}

[class~=one-news] > div > div small {
    font-size: .104166667in;
}

[class~=stats] span:first-child:before {
    border-right-style: solid;
}

[class~=testimonial-content] span:after {
    border-bottom-width: .572916667in;
}

#testimonials [class~=owl-buttons] {
    margin-right: 0;
}

[class~=info-texts] div > div > div:last-child:before {
    z-index: 5;
}

[class~=stats] span:first-child:before {
    border-right-color: transparent;
}

[class~=testimonial-content] span:after {
    border-bottom-color: currentColor;
}

#partners a {
    padding-top: 1.875pc;
}

[class~=testimonial-content] span {
    top: 2.8125pc;
}

.search-form input[type=text] {
    background: #f5f5f5;
}

[class~=testimonial-content] span {
    border-left-width: .0625pc;
}

#testimonials2 [class~=owl-buttons] div {
    border-right-color: #ddd;
}

#testimonials [class~=owl-buttons] {
    margin-top: -30pt;
}

[class~=testimonial-content] span:after {
    border-image: none;
}

[class~=testimonial-content] span {
    border-bottom-width: .0625pc;
}

[class~=footer-icons] {
    padding-top: 1.25pc;
}

[class~=testimonial-content] span:after {
    border-right-width: 11.25pt;
}

[class~=contact-info] {
    margin-top: 1.875pc;
}

[class~=testimonial-content] span:after {
    border-right-style: solid;
}

[class~=parallax] {
    padding-left: 0;
}

[class~=parallax] {
    padding-bottom: 1.041666667in;
}

[class~=header_search_form] [class~=form-group] {
    width: 68%;
}

#menu-open {
    color: #fff;
}

[class~=testimonial-content] span {
    border-right-width: medium;
}

ul.blog-cats li > ul > li + li {
    margin-top: 10px;
}

[class~=testimonial-content] span, [class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-right-style: none;
}

.search-form input[type=text] {
    border-left-width: medium;
}

[class~=stats] span:first-child:before {
    right: -1.25pc;
}

[class~=testimonial-content] span {
    border-top-width: .0625pc;
}

[class~=parallax] {
    padding-right: 0;
}

[class~=navbar-main] [class~=open] > a:hover {
    border-bottom-color: rgba(255,255,255,.4);
}

[class~=stats] span:first-child:after {
    content: "";
}

.stats > div > div, [class~=info-texts] div > div > div, [class~=info-texts], [class~=one-news] > div {
    position: relative;
}

[class~=testimonial-content] span {
    border-left-style: solid;
}

hgroup, [class~=stats] span:first-child:after, menu, nav {
    display: block;
}

[class~=our-services] div > a > span:after, [class~=testimonial-content] span:after {
    border-right-color: transparent;
}

[class~=testimonial-content] span {
    border-bottom-style: solid;
}

[class~=stats] span:first-child:after, [class~=team] > div > div span {
    position: absolute;
}

hgroup h2 {
    letter-spacing: .03125in;
}

footer:before {
    height: 4.0625pc;
}

[class~=stats] span:first-child:after {
    width: 0;
}

[class~=testimonial-content] span:after, [class~=our-services] div > a > span:after {
    top: -.010416667in;
}

[class~=testimonial-content] span:after {
    right: -11.25pt;
}

[class~=header_search_form] [class~=form-group] [class~=form-control], [class~=testimonial-content] span {
    border-top-style: solid;
}

.search-form input[type=text] {
    border-bottom-width: medium;
}

[class~=our-services] div > a > span:after {
    border-right-width: .260416667in;
}

[class~=header_search_form] [class~=btn_search] {
    border-left-width: .020833333in;
}

[class~=testimonial-content] span {
    border-left-color: currentColor;
}

[class~=parallax] {
    padding-top: 1.041666667in;
}

[class~=testimonial-content] span {
    border-bottom-color: currentColor;
}

[class~=testimonial-content] span {
    border-right-color: currentColor;
}

.search-form input[type=text] {
    border-right-width: 3pt;
}

[class~=team] > div > div span {
    display: none;
}

[class~=info-texts] {
    font-family: "Montserrat",sans-serif;
}

[class~=testimonial-content] span {
    border-top-color: currentColor;
}

[class~=team] > div > div span {
    bottom: 0px;
}

[class~=quote-form] {
    margin-top: -.9375in;
}

.stats > div > div {
    margin-left: .104166667in;
}

#menu-open {
    padding-left: 40px;
}

[class~=quote-form] {
    padding-left: .520833333in;
}

[class~=testimonial-content] span {
    border-image: none;
}

[class~=team] > div > div span {
    left: 0in;
}

[class~=our-services] div > a > span:after, .stats > div > div, .search-form input[type=text] {
    border-right-style: solid;
}

.stats > div > div {
    border-left-width: .0625pc;
}

#menu-open {
    padding-bottom: .208333333in;
}

#menu-open {
    padding-right: .208333333in;
}

[class~=testimonial-author] h4 {
    margin-bottom: 0in;
}

[class~=page-title], [class~=quote-form] {
    padding-bottom: .520833333in;
}

[class~=header_search_form] [class~=btn_search] {
    border-bottom-width: .020833333in;
}

[class~=stats] > div {
    margin-bottom: 22.5pt;
}

[class~=team] > div > div span {
    right: 0px;
}

.search-form input[type=text] {
    border-top-width: medium;
}

.stats > div > div {
    border-bottom-width: 3px;
}

[class~=quote-form] {
    padding-right: .520833333in;
}

[class~=team] > div > div span {
    padding-left: 11.25pt;
}

[class~=one-news] > div {
    width: 100%;
}

.stats > div > div {
    border-right-width: .0625pc;
}

.stats > div > div {
    border-top-width: .0625pc;
}

[class~=team] > div > div span {
    padding-bottom: 1.875pc;
}

#menu-open {
    padding-top: .208333333in;
}

[class~=one-news] > div {
    height: 18.75pc;
}

[class~=one-news] > div {
    background-repeat: no-repeat;
}

[class~=header_search_form] [class~=btn_search] {
    border-right-width: .020833333in;
}

.stats > div > div {
    border-left-style: solid;
}

.stats > div > div, [class~=stats] span:first-child:after {
    border-bottom-style: solid;
}

.search-form input[type=text] {
    border-left-style: none;
}

[class~=one-news] > div {
    background-position: center center;
}

[class~=one-news] > div {
    background-size: cover;
}

footer [class~=copy], #main-menu-bg {
    height: .677083333in;
}

.search-form input[type=text] {
    border-bottom-style: none;
}

#testimonials2 [class~=owl-buttons], #main-menu-bg {
    position: absolute;
}

[class~=page-title], [class~=quote-form] {
    padding-top: .520833333in;
}

footer [class~=copy] {
    line-height: 4.6875pc;
}

.stats > div > div {
    border-top-style: solid;
}

.search-form input[type=text], .stats > div > div {
    border-left-color: currentColor;
}

[class~=quote-form] {
    background: url("../img/form-bg.jpg") no-repeat center center;
}

.search-form input[type=text] {
    border-top-style: none;
}

.search-form input[type=text], .stats > div > div {
    border-bottom-color: currentColor;
}

[class~=quote-form] {
    background-size: cover;
}

[class~=page-title] {
    background-image: url("../media/bg/1.jpg");
}

[class~=team] > div > div span {
    padding-right: 11.25pt;
}

#menu-open {
    font-size: .229166667in;
}

footer:before {
    content: "";
}

[class~=page-title] {
    padding-left: 0;
}

[class~=two-news] > div div:last-child small, footer [class~=copy] {
    padding-right: .9375pc;
}

footer [class~=copy] {
    position: relative;
}

[class~=page-title] {
    padding-right: 0;
}

[class~=team] > div > div span {
    padding-top: 1.875pc;
}

[class~=stats] span:first-child:after {
    height: 0;
}

.search-form input[type=text] {
    border-right-color: #e3e3e3;
}

footer [class~=copy], footer .color-part2 {
    z-index: 2;
}

.stats > div > div {
    border-right-color: currentColor;
}

#partners a, [class~=team] > div > div span, footer .color-part2 {
    text-align: center;
}

[class~=stats] span:first-child:after {
    border-bottom-width: 4.375pc;
}

.stats > div > div, .search-form input[type=text] {
    border-top-color: currentColor;
}

.search-form input[type=text], .stats > div > div {
    border-image: none;
}

section, footer:before {
    display: block;
}

.stats > div > div {
    padding-left: 6.25pc;
}

[class~=our-services] div > a > span:after {
    right: -18.75pt;
}

.stats > div > div {
    padding-bottom: 35px;
}

.stats > div > div {
    padding-right: .3125pc;
}

#testimonials2 [class~=owl-buttons] div {
    border-top-color: #ddd;
}

#partners [class~=owl-buttons] div {
    background: none;
}

.comments > div > a.reply:hover {
    color: #fff;
}

[class~=info-texts] div > div > div:last-child:before, footer [class~=color-part] {
    top: 0pt;
}

footer .color-part2, footer [class~=color-part], [class~=one-news] > div > div {
    position: absolute;
}

footer .color-part2 {
    margin-top: -5px;
}

#partners [class~=owl-buttons] div, [class~=attachments], .search-form input[type=text] {
    margin-left: 0pt;
}

.stats > div > div {
    padding-top: .364583333in;
}

[class~=one-news] > div > div, footer .color-part2, footer [class~=color-part] {
    left: 0pc;
}

.stats > div > div {
    font-family: "Montserrat",sans-serif;
}

.search-form input[type=text] {
    color: #999;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-left-width: 2px;
}

[class~=stats] span:first-child:after {
    border-bottom-color: #eee;
}

footer .color-part2 {
    right: 0in;
}

footer .block-content {
    background: url("../img/footer-bg.png") no-repeat center center;
}

footer .block-content {
    background-size: cover;
}

[class~=one-news] > div > div, footer [class~=color-part], footer [class~=color-part] {
    bottom: 0in;
}

[class~=team] > div > div span {
    font-size: .125in;
}

[class~=attachments], #partners [class~=owl-buttons] div, .search-form input[type=text] {
    margin-bottom: 0pt;
}

[class~=one-news] > div > div, .search-form input[type=text] {
    width: 100%;
}

[class~=navbar-main] [class~=open] > a:hover {
    border-right-color: rgba(255,255,255,.4);
}

.search-form input[type=text], #partners [class~=owl-buttons] div, [class~=attachments] {
    margin-right: 0pt;
}

[class~=two-news] > div div:last-child small {
    font-size: .104166667in;
}

[class~=info-texts] div > div > div:first-child:after {
    display: none;
}

#partners [class~=owl-buttons] div, [class~=attachments], .search-form input[type=text] {
    margin-top: 0pt;
}

[class~=our-services] div > a > span:after {
    border-bottom-color: #fff;
}

#main-menu-bg {
    left: 50%;
}

[class~=team] > div > div span {
    line-height: 16.5pt;
}

[class~=one-news] > div > div {
    padding-left: 2.5pc;
}

.search-form input[type=text] {
    padding-left: 18.75pt;
}

#testimonials2 [class~=owl-buttons] {
    top: -100px;
}

.search-form input[type=text] {
    padding-bottom: 1.25pc;
}

footer [class~=color-part], #main-menu-bg {
    width: 50%;
}

footer nav a, #partners a {
    display: block;
}

.one-news > div > div small.news-author {
    border-right-width: .75pt;
}

#partners a, .one-news > div > div small.news-author {
    border-right-style: solid;
}

.search-form input[type=text] {
    padding-right: 2.8125pc;
}

[class~=stats] span:first-child:after {
    border-image: none;
}

.search-form input[type=text] {
    padding-top: 15pt;
}

[class~=one-news] > div > div {
    padding-bottom: 1.875pc;
}

footer [class~=color-part] {
    margin-left: -20%;
}

footer [class~=color-part] {
    -webkit-transform: skew(-20deg);
}

footer [class~=color-part] {
    -moz-transform: skew(-20deg);
}

[class~=team] > div > div span {
    font-weight: 300;
}

[class~=search-form] input:focus {
    outline: 0;
}

[class~=one-news] > div > div {
    padding-right: 2.5pc;
}

[class~=stats] span:first-child:after {
    border-right-width: 15pt;
}

footer [class~=color-part] {
    -o-transform: skew(-20deg);
}

[class~=search-form] input:focus {
    box-shadow: none;
}

#partners a {
    border-right-width: 3px;
}

hgroup h1 + h2 {
    margin-top: .15625in;
}

#testimonials2 [class~=owl-buttons] {
    right: 1.25pc;
}

footer .color-part2:after, [class~=footer-icons] a {
    display: inline-block;
}

[class~=search-form] input:focus {
    border-left-width: medium;
}

[class~=footer-icons] a {
    padding-right: .052083333in;
}

[class~=team] > div > div span {
    background-color: rgba(0,0,0,.8);
}

[class~=attachments] {
    padding-left: 0in;
}

[class~=one-news] > div > div {
    padding-top: 1.875pc;
}

.one-news > div > div small.news-author {
    border-right-color: currentColor;
}

[class~=stats] span:first-child:after, [class~=search-form] input:focus {
    border-right-style: solid;
}

#partners [class~=owl-buttons], .one-news > div > div small.news-author {
    margin-right: 11.25pt;
}

#partners [class~=owl-buttons], .info-texts p, [class~=search-form], #fleet-gallery {
    position: relative;
}

[class~=stats] span:first-child:after {
    border-right-color: transparent;
}

[class~=search-form] input:focus {
    border-bottom-width: medium;
}

.one-news > div > div small.news-author {
    border-image: none;
}

#partners [class~=owl-buttons] {
    float: right;
}

footer .color-part2:after {
    content: "";
}

[class~=attachments] {
    padding-bottom: 0in;
}

footer:before {
    position: absolute;
}

ul[class~=blog-cats] li > ul {
    display: none;
}

[class~=contact-info] i, [class~=contact-info] span {
    display: block;
}

[class~=search-form] input:focus {
    border-right-width: .041666667in;
}

[class~=contact-info] span, [class~=contact-info] i {
    margin-bottom: .104166667in;
}

[class~=contact-info] strong {
    font-weight: 700;
}

[class~=contact-info] strong {
    font-size: .125in;
}

[class~=search-form] input:focus {
    border-top-width: medium;
}

[class~=search-form] input:focus {
    border-left-style: none;
}

[class~=header_search_form] [class~=btn_search] {
    border-top-width: .020833333in;
}

footer:before {
    left: 50%;
}

#partners [class~=owl-buttons] {
    margin-top: -165pt;
}

[class~=search-form] input:focus {
    border-bottom-style: none;
}

[class~=contact-info] i {
    float: left;
}

[class~=contact-info] i {
    margin-right: 7.5pt;
}

[class~=attachments] {
    padding-right: 0in;
}

#to-top {
    top: 0pt;
}

footer .color-part2:after {
    border-top-width: 9pt;
}

footer:before {
    width: 50%;
}

#to-top {
    left: -22.5pt;
}

[class~=attachments] {
    padding-top: 0in;
}

[class~=stats] span:first-child:after {
    top: -.75pt;
}

[class~=parallax] h1 {
    margin-bottom: 37.5pt;
}

header {
    border-top-width: 6px;
}

[class~=stats] span:first-child:after, [class~=our-services] div > a > span:after {
    top: -2px;
}

.two-news > div div:first-child > div {
    height: 135px;
}

[class~=search-form] input:focus {
    border-top-style: none;
}

[class~=stats] span:first-child:after {
    right: -1.25pc;
}

ul[class~=blog-cats] li > ul {
    padding-left: .208333333in;
}

.info-texts p {
    z-index: 2;
}

[class~=search-form] input:focus {
    border-left-color: currentColor;
}

[class~=search-form] input:focus {
    border-bottom-color: currentColor;
}

.info-texts p {
    z-index: 4;
}

footer .color-part2:after, header, [class~=header_search_form] [class~=btn_search] {
    border-top-style: solid;
}

.info-texts p {
    vertical-align: middle;
}

.info-texts p {
    display: table-cell;
}

[class~=stats] span:first-child:after {
    border-bottom-color: #fff;
}

#partners [class~=owl-item] {
    padding-left: 11.25pt;
}

[class~=header_search_form] [class~=btn_search] {
    border-left-style: solid;
}

.team > div > div.userpic, [class~=post-info] {
    position: relative;
}

[class~=post-info] {
    padding-left: 1.25pc;
}

[class~=post-info] {
    padding-bottom: .177083333in;
}

[class~=header_search_form] [class~=btn_search] {
    border-bottom-style: solid;
}

footer .color-part2:after {
    border-top-color: #fff;
}

[class~=search-form] input:focus {
    border-right-color: #e3e3e3;
}

[class~=navbar-main] [class~=open] > a:hover, .navbar-main > li > .dropdown-menu > li > a:focus {
    border-top-color: rgba(255,255,255,.4);
}

[class~=search-form] input:focus {
    border-top-color: currentColor;
}

.two-news > div div:first-child > div, .team > div > div.userpic {
    background-position: center center;
}

[class~=header_search_form] [class~=btn_search] {
    border-right-style: solid;
}

.info-texts:before, .info-texts p {
    height: 11.25pc;
}

[class~=stats] span:first-child:after {
    right: -18px;
}

footer .color-part2:after, [class~=search-form] input:focus {
    border-image: none;
}

.team > div > div.userpic, .two-news > div div:first-child > div {
    background-repeat: no-repeat;
}

[class~=post-info] {
    padding-right: .208333333in;
}

.info-texts p {
    text-align: center;
}

.team > div > div.userpic {
    background-size: cover;
}

footer .color-part2:after {
    border-left-width: 6px;
}

.info-texts p {
    color: #fff;
}

.team > div > div.userpic {
    height: 2.708333333in;
}

.info-texts p {
    line-height: 1.5pc;
}

[class~=info-texts] div > div > div:last-child:after {
    display: none;
}

.recent-posts div a:hover, nav[class~=pagination] a:hover, [class~=attachments] li a:hover, .tags a:hover {
    text-decoration: none;
}

.info-texts:before, [class~=info-texts]:after, .comments div .userpic:after, [class~=contact-info] span:after {
    content: "";
}

.info-texts:before, [class~=info-texts]:after {
    display: block;
}

footer .color-part2:after {
    border-left-style: solid;
}

[class~=header_search_form] [class~=btn_search] {
    border-left-color: #fff;
}

.team > div > div.userpic {
    width: 100%;
}

footer .color-part2:after {
    border-left-color: transparent;
}

footer .color-part2:after {
    border-right-width: 6px;
}

footer .color-part2:after {
    border-right-style: solid;
}

footer .color-part2:after {
    border-right-color: transparent;
}

ul[class~=blog-cats] li > ul {
    padding-bottom: .104166667in;
}

[class~=info-texts]:after, .comments div .userpic:after, .info-texts:before, #to-top {
    position: absolute;
}

footer .color-part2:after {
    height: 0;
}

.info-texts:before, [class~=info-texts]:after {
    width: 50%;
}

#partners [class~=owl-item], ul[class~=blog-cats] li > ul {
    padding-right: 11.25pt;
}

[class~=header_search_form] [class~=btn_search] {
    border-bottom-color: #fff;
}

[class~=post-info] {
    padding-top: .9375pc;
}

#to-top {
    cursor: pointer;
}

[class~=info-texts] div > div > div:first-child:before {
    right: -.15625in;
}

footer .color-part2:after {
    width: 56.25pc;
}

#partners a {
    border-right-color: currentColor;
}

footer .color-part2:after {
    max-width: 90%;
}

[class~=our-services] div > a > span:after {
    right: -17.25pt;
}

.info-texts:before, [class~=info-texts]:after {
    top: 0px;
}

[class~=post-info] {
    border-left-width: .010416667in;
}

footer:before {
    bottom: 0pc;
}

[class~=navbar-main] > li > [class~=dropdown-menu] > li > a:hover {
    background-color: rgba(0,0,0,0);
}

ul[class~=blog-cats] li > ul {
    padding-top: .104166667in;
}

#partners [class~=owl-item] {
    padding-bottom: 0;
}

[class~=info-texts]:after, .info-texts:before {
    z-index: 1;
}

footer .color-part2:after {
    position: relative;
}

[class~=info-texts] div > div > div:first-child:before {
    left: 0pc;
}

[class~=post-info] {
    border-bottom-width: .010416667in;
}

ul[class~=blog-cats] li > ul {
    margin-left: .25pc;
}

[class~=post-info] {
    border-right-width: .010416667in;
}

[class~=small-posts] > div > [class~=read-more], .big-posts > div > .read-more {
    margin-top: 40px;
}

footer a {
    font-weight: 500;
}

footer .color-part2:after {
    margin-top: -.625pc;
}

[class~=info-texts] div > div > div:last-child:before {
    left: -15px;
}

footer a {
    font-size: 12px;
}

.comments div .userpic:after, #to-top, [class~=contact-info] span:after {
    display: block;
}

#partners [class~=owl-item] {
    padding-top: 0;
}

[class~=post-info] {
    border-top-width: .010416667in;
}

header {
    border-top-color: currentColor;
}

.comments div .userpic:after, [class~=info-texts] div > div > div:last-child:before {
    right: 0px;
}

ul[class~=blog-cats] li > ul {
    margin-bottom: -.0625pc;
}

[class~=info-texts]:after {
    height: 135pt;
}

footer h4 {
    margin-bottom: .416666667in;
}

[class~=quote-form] a, [class~=contact-info] span:after {
    width: 100%;
}

[class~=info-texts]:before {
    left: 0;
}

ul[class~=blog-cats] li > ul {
    margin-right: -1px;
}

[class~=info-texts]:after {
    left: 50%;
}

[class~=post-info], [class~=attachments] li a {
    border-left-style: solid;
}

.two-news > div div:first-child > div {
    background-size: cover;
}

[class~=post-content] [class~=clearfix] + img, [class~=post-content] [class~=clearfix] + p {
    margin-top: .208333333in;
}

[class~=contact-info] span:after {
    clear: both;
}

ul[class~=blog-cats] > li + li {
    margin-top: 5.25pt;
}

[class~=post-info] {
    border-bottom-style: solid;
}

#testimonials2 > div[class~=owl-wrapper-outer] > div > div > div, [class~=post-content] img[class~=pull-left] {
    margin-right: 20px;
}

[class~=attachments] li i {
    margin-left: 20px;
}

.comments div .userpic:after {
    width: 0;
}

.comments div .userpic:after {
    height: 0;
}

[class~=two-news] > div div:last-child > div {
    padding-left: 22.5pt;
}

[class~=header_search_form] [class~=btn_search] {
    border-right-color: #fff;
}

[class~=main-content] img + * {
    margin-top: 1.875pc;
}

.comments div .userpic:after {
    border-top-width: 5pc;
}

[class~=attachments] li i {
    margin-bottom: 0;
}

[class~=attachments] li i {
    margin-right: 20px;
}

[class~=post-info] {
    border-right-style: solid;
}

.quote-form input {
    margin-bottom: .15625in;
}

[class~=post-info], .comments div .userpic:after {
    border-top-style: solid;
}

.our-services div > a > span > i {
    margin-left: 3.75pt;
}

[class~=attachments] li a, [class~=post-info] {
    border-left-color: #eee;
}

[class~=post-info] {
    border-bottom-color: #eee;
}

#to-top, .comments div .userpic {
    width: 60pt;
}

[class~=attachments] li i {
    margin-top: 0;
}

.comments div .userpic:after {
    border-top-color: #f5f5f5;
}

.comments div .userpic:after, #partners a {
    border-image: none;
}

[class~=info-texts] div > div > div:before, ul[class~=blog-cats] > li:before {
    content: "";
}

[class~=attachments] li a, [class~=page-title] h1 {
    display: inline-block;
}

[class~=post-info] {
    border-right-color: #eee;
}

[class~=page-title] a {
    text-decoration: none;
}

#owl-main-slider [class~=item] {
    background-position: center center;
}

[class~=post-info] {
    border-top-color: #eee;
}

[class~=attachments] li, [class~=attachments] li a {
    border-left-width: 1px;
}

[class~=navbar-main] > li > [class~=dropdown-menu] > li > a:hover {
    border-left-color: rgba(255,255,255,.4);
}

[class~=two-news] > div div:last-child > div {
    padding-bottom: 18.75pt;
}

[class~=page-title] h1 {
    margin-bottom: 0in;
}

[class~=services] div {
    margin-bottom: 4.375pc;
}

[class~=attachments] li {
    list-style: none;
}

[class~=info-texts] div > div > div:before, ul[class~=blog-cats] > li:before {
    display: block;
}

[class~=attachments] li {
    border-bottom-width: .0625pc;
}

ul[class~=blog-cats] > li:before, [class~=info-texts] div > div > div:before {
    position: absolute;
}

[class~=attachments] li a, header, [class~=post-info] {
    border-image: none;
}

[class~=info-texts] div > div > div:first-child p {
    margin-top: .15625in;
}

.navbar-main > li.open > .dropdown-menu {
    height: auto;
}

[class~=attachments] li {
    border-right-width: .0625pc;
}

[class~=post-content] img[class~=pull-right] {
    margin-left: 15pt;
}

.navbar-main > li.open > .dropdown-menu {
    opacity: 1;
}

[class~=new-comment], [class~=comments] {
    margin-top: 60pt;
}

.comments div .userpic {
    float: left;
}

.comments div .userpic, .team .user-info + a.btn {
    margin-right: 1.875pc;
}

.comments div .userpic {
    margin-left: -10px;
}

footer p {
    font-size: 9.75pt;
}

[class~=attachments] li {
    border-top-width: .0625pc;
}

ul[class~=blog-cats] > li:before {
    top: -.75pt;
}

ul[class~=blog-cats] > li:before {
    bottom: -.010416667in;
}

[class~=we-onmap] {
    width: 100%;
}

.comments div .userpic:after {
    border-left-width: 20px;
}

[class~=attachments] li, .comments div .userpic:after {
    border-left-style: solid;
}

.comments div .userpic {
    height: 5pc;
}

[class~=we-onmap] {
    border-left-width: medium;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-bottom-width: 2px;
}

[class~=we-onmap] {
    border-bottom-width: medium;
}

[class~=we-onmap] {
    border-right-width: medium;
}

[class~=attachments] li a, ul[class~=blog-cats] > li > a {
    padding-left: 15pt;
}

[class~=attachments] li a {
    padding-bottom: 15pt;
}

.comments div .userpic {
    background-repeat: no-repeat;
}

.comments div .userpic {
    background-size: cover;
}

[class~=attachments] li, [class~=info-texts] div > div > div:before {
    border-bottom-style: solid;
}

    [class~=attachments] li a {
        padding-right: 15pt;
    }

[class~=attachments] li {
    border-right-style: solid;
}

.comments div .userpic:after {
    border-left-color: transparent;
}

[class~=two-news] > div div:last-child > div {
    padding-right: 22.5pt;
}

[class~=we-onmap] {
    border-top-width: medium;
}

.comments div .userpic {
    background-position: center center;
}

[class~=attachments] li {
    border-top-style: solid;
}

ul[class~=blog-cats] > li:before {
    left: -.75pt;
}

[class~=we-onmap] {
    border-left-style: none;
}

ul[class~=blog-cats] > li:before {
    width: 3.75pt;
}

footer p {
    margin-top: 1.875pc;
}

[class~=attachments] li a {
    padding-top: 15pt;
}

[class~=info-texts] div > div > div:before {
    border-bottom-width: 135pt;
}

[class~=header_search_form] [class~=btn_search] {
    border-top-color: #fff;
}

[class~=sidebar-container] > div + div {
    margin-top: 3.125pc;
}

#to-top {
    text-align: center;
}

.comments > div > span.author {
    font-weight: 700;
}

[class~=attachments] li {
    border-left-color: #eee;
}

[class~=attachments] li {
    border-bottom-color: #eee;
}

[class~=attachments] li {
    border-right-color: #eee;
}

[class~=two-news] > div div:last-child > div {
    padding-top: 18.75pt;
}

[class~=attachments] li {
    border-top-color: #eee;
}

[class~=info-texts] div > div > div:first-child p {
    z-index: 6;
}

.comments div .userpic, footer {
    position: relative;
}

[class~=attachments] li {
    border-image: none;
}

.comments > div > span.author {
    font-family: "Montserrat",sans-serif;
}

[class~=attachments] li {
    margin-bottom: .15625in;
}

hgroup {
    margin-bottom: 3.125pc;
}

[class~=info-texts] div > div > div:last-child p {
    margin-top: .15625in;
}

[class~=search-form] i, [class~=comments] > div > a[class~=reply] {
    position: absolute;
}

[class~=adress-details] > div:first-child {
    margin-bottom: 1.5625pc;
}

[class~=search-form] i {
    right: 1.5625pc;
}

[class~=sidebar-container] > div > h4 {
    margin-bottom: 26.25pt;
}

.comments > div > span.author {
    margin-right: 35px;
}

[class~=comments] > div > span[class~=date] {
    color: #888;
}

[class~=search-form] i {
    top: 16.5pt;
}

[class~=search-form] i {
    background: none;
}

[class~=comments] > div > span[class~=date] {
    font-size: 8.25pt;
}

ul.blog-cats > li {
    list-style: none;
}

[class~=search-form] i {
    border-left-width: medium;
}

[class~=team][class~=style-2] div [class~=soc-icons], [class~=team][class~=style-2] div:hover [class~=user-info] p {
    display: none;
}

[class~=we-onmap], [class~=search-form] i, [class~=info-texts] div > div > div:before, footer {
    border-bottom-color: currentColor;
}

[class~=slider-content] a[class~=prev], ul.blog-cats > li {
    border-left-width: .0625pc;
}

[class~=navbar-main] > li > [class~=dropdown-menu] > li > a:hover {
    border-bottom-color: rgba(255,255,255,.4);
}

ul[class~=blog-cats] > li > a {
    padding-bottom: 9.75pt;
}

footer {
    border-bottom-width: 7.5pt;
}

[class~=two-news] > div div:last-child > div {
    height: 8.4375pc;
}

#to-top {
    line-height: 60px;
}

[class~=search-form] i {
    border-bottom-width: medium;
}

[class~=adress-details] > div:first-child {
    margin-top: 0;
}

[class~=search-form] i {
    border-right-width: medium;
}

[class~=search-form] i {
    border-top-width: medium;
}

.slider-content a.btn {
    margin-top: 22.5pt;
}

[class~=navbar-main] > li > [class~=dropdown-menu] > li > a:hover {
    border-right-color: rgba(255,255,255,.4);
}

[class~=slider-content] a[class~=prev] {
    opacity: .8;
}

ul[class~=blog-cats] > li > a {
    padding-right: 20px;
}

ul[class~=blog-cats] > li > a, [class~=comments] > div > a[class~=reply], [class~=recent-posts] div a:after, [class~=slider-content] a[class~=prev] {
    display: block;
}

[class~=search-form] i, nav.pagination a + a {
    border-left-style: none;
}

[class~=search-form] i, [class~=we-onmap] {
    border-bottom-style: none;
}

ul.blog-cats > li, [class~=slider-content] a[class~=prev] {
    border-bottom-width: .0625pc;
}

#to-top {
    height: 65px;
}

ul.blog-cats > li, [class~=slider-content] a[class~=prev] {
    border-right-width: .0625pc;
}

[class~=slider-content] a[class~=prev], ul.blog-cats > li {
    border-top-width: .0625pc;
}

ul.blog-cats > li, footer {
    border-bottom-style: solid;
}

[class~=we-onmap], [class~=search-form] i {
    border-right-style: none;
}

ul[class~=blog-cats] > li > a {
    padding-top: 9.75pt;
}

[class~=info-texts] div > div > div:before {
    border-image: none;
}

[class~=we-onmap], [class~=search-form] i {
    border-top-style: none;
}

[class~=we-onmap], nav.pagination a + a, [class~=slider-content] a[class~=prev], [class~=search-form] i {
    border-left-color: currentColor;
}

ul[class~=blog-cats] > li > a {
    font-weight: 500;
}

[class~=slider-content] a[class~=prev] {
    float: left;
}

#to-top {
    -webkit-transform: skew(-20deg);
}

[class~=info-texts] div > div > div:before, [class~=slider-content] a[class~=prev], ul.blog-cats > li {
    border-left-style: solid;
}

ul.blog-cats > li, [class~=slider-content] a[class~=prev] {
    border-right-style: solid;
}

ul.blog-cats > li {
    border-top-style: solid;
}

ul.blog-cats > li {
    border-left-color: #eee;
}

[class~=comments] > div > a[class~=reply] {
    height: 30px;
}

ul.blog-cats > li {
    border-bottom-color: #eee;
}

[class~=recent-posts] div a:after {
    content: "";
}

nav.pagination a + a {
    border-left-width: medium;
}

ul.blog-cats > li {
    border-right-color: #eee;
}

[class~=comments] > div > a[class~=reply] {
    border-left-width: .010416667in;
}

[class~=we-onmap], [class~=search-form] i {
    border-right-color: currentColor;
}

ul.blog-cats > li {
    border-top-color: #eee;
}

[class~=search-form] i, [class~=we-onmap] {
    border-top-color: currentColor;
}

[class~=we-onmap], [class~=search-form] i, ul.blog-cats > li, nav.pagination a + a {
    border-image: none;
}

[class~=search-form] i {
    cursor: pointer;
}

ul[class~=blog-cats] {
    margin-left: 0pt;
}

ul[class~=blog-cats] {
    margin-bottom: 0pt;
}

[class~=info-texts] div > div > div:before {
    border-left-width: 50px;
}

[class~=slider-content] a[class~=next]:hover, [class~=slider-content] a[class~=prev]:hover {
    opacity: 1;
}

#owl-main-slider [class~=item] {
    background-repeat: no-repeat;
}

ul[class~=blog-cats] {
    margin-right: 0pt;
}

ul.blog-cats > li {
    position: relative;
}

[class~=info-texts] div > div > div:last-child p {
    z-index: 6;
}

ul[class~=blog-cats] {
    margin-top: 0pt;
}

ul[class~=blog-cats] {
    padding-left: 0pc;
}

ul[class~=blog-cats] {
    padding-bottom: 0pc;
}

ul[class~=blog-cats] {
    padding-right: 0pc;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-right-width: 0;
}

ul[class~=blog-cats] {
    padding-top: 0pc;
}

[class~=tags] a, [class~=slider-content] a[class~=prev] {
    border-bottom-style: solid;
}

[class~=recent-posts] div a, [class~=tags] a {
    font-weight: 700;
}

[class~=info-texts] div > div > div:first-child p {
    text-align: right;
}

[class~=tags] a, [class~=recent-posts] div span {
    font-size: .6875pc;
}

[class~=slider-content] a[class~=prev] {
    border-top-style: solid;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-top-width: .125pc;
}

[class~=tags] a {
    text-transform: uppercase;
}

[class~=we-onmap] {
    height: 28.125pc;
}

[class~=recent-posts] div + div {
    margin-top: 18.75pt;
}

[class~=slider-content] {
    margin-top: 1.666666667in;
}

[class~=adress-details] > div > span:after, [class~=recent-posts] div:after {
    content: "";
}

#partners [class~=owl-buttons] div {
    padding-left: 20px;
}

[class~=tags] a {
    display: inline-block;
}

[class~=comments] > div > a[class~=reply], [class~=tags] a {
    border-bottom-width: .010416667in;
}

[class~=tags] a {
    background: #f4f4f4;
}

[class~=adress-details] > div > span:after, [class~=recent-posts] div:after {
    display: block;
}

[class~=info-texts] div > div > div:first-child p {
    padding-right: .416666667in;
}

[class~=recent-posts] div:after {
    clear: both;
}

[class~=header_search_form] [class~=btn_search], footer {
    border-image: none;
}

[class~=slider-content] a[class~=prev] {
    border-bottom-color: currentColor;
}

[class~=tags] a {
    border-left-width: .010416667in;
}

#partners [class~=owl-buttons] div {
    padding-bottom: .052083333in;
}

[class~=comments] > div > a[class~=reply], [class~=tags] a {
    border-right-width: .010416667in;
}

[class~=slider-content], [class~=big-hr], footer nav a:hover, [class~=page-title] {
    color: #fff;
}

.recent-posts div img {
    float: left;
}

[class~=twitter-feeds] div + div, [class~=tags] a, [class~=comments] > div > a[class~=reply] {
    border-top-width: .010416667in;
}

.recent-posts div img {
    margin-right: .15625in;
}

[class~=adress-details] > div > span:after {
    position: absolute;
}

[class~=recent-posts] div a {
    font-family: "Montserrat",sans-serif;
}

ul[class~=blog-cats] > li:hover:before {
    opacity: .5;
}

[class~=tags] a, [class~=comments] > div > a[class~=reply] {
    border-left-style: solid;
}

#to-top {
    -moz-transform: skew(-20deg);
}

body {
    background-color: #fff;
}

footer {
    border-bottom-color: #000;
}

[class~=info-texts] div > div > div:before {
    border-left-color: transparent;
}

[class~=recent-posts] div span {
    display: inline-block;
}

[class~=tags] a {
    border-right-style: solid;
}

footer nav a {
    margin-bottom: 1.25pc;
}

[class~=recent-posts] div span {
    margin-top: 11.25pt;
}

[class~=adress-details] > div > span:after {
    right: -2.25pt;
}

[class~=header-padding] {
    color: #000;
}

[class~=navbar-main] > li > [class~=dropdown-menu] > li > a:hover {
    border-top-color: rgba(255,255,255,.4);
}

[class~=twitter-feeds] div + div, [class~=tags] a {
    border-top-style: solid;
}

[class~=info-texts] div > div > div:before {
    border-right-width: 50px;
}

body {
    color: #666;
}

[class~=recent-posts] div span {
    color: #888;
}

#owl-main-slider [class~=item] {
    background-size: cover;
}

[class~=why-us] {
    border-top-color: #eee;
}

[class~=tags] a {
    border-left-color: #eee;
}

[class~=adress-details] > div > span:after {
    top: -1px;
}

[class~=slider-content] a[class~=prev] {
    border-right-color: currentColor;
}

[class~=tags] a + a {
    margin-top: 7.5pt;
}

[class~=testimonial-content] {
    background: #eee;
}

[class~=tags] a {
    border-bottom-color: #eee;
}

[class~=adress-details] > div > span:after {
    bottom: -1px;
}

[class~=slider-content] a[class~=prev] {
    border-top-color: currentColor;
}

[class~=slider-content] a[class~=prev] {
    border-image: none;
}

#to-top {
    -o-transform: skew(-20deg);
}

[class~=darken-block] {
    background: #f5f5f5;
}

[class~=tags] a {
    border-right-color: #eee;
}

[class~=twitter-feeds] div + div, [class~=tags] a {
    border-top-color: #eee;
}

footer {
    color: #ccc;
}

[class~=adress-details] > div > span:after {
    width: 5px;
}

[class~=search-form-modal], #owl-main-slider [class~=item] {
    width: 100%;
}

.transition {
    -webkit-transition: all 300ms ease 0s;
}

[class~=slider-content] a[class~=prev] {
    padding-left: .9375pc;
}

[class~=tags] a, [class~=twitter-feeds] div + div {
    border-image: none;
}

[class~=blog-section] div div a, [class~=team] > div > div span, [class~=one-news] > div > div small, .search-form_close {
    color: #fff;
}

.transition {
    -moz-transition: all 300ms ease 0s;
}

[class~=slider-content] a[class~=prev] {
    padding-bottom: 11.25pt;
}

footer p {
    padding-right: .625in;
}

[class~=slider-content] a[class~=prev] {
    padding-right: .9375pc;
}

.transition {
    -o-transition: all 300ms ease 0s;
}

.transition {
    transition: all 300ms ease 0s;
}

[class~=twitter-feeds] div + div {
    padding-top: 1.5625pc;
}

[class~=search-form-modal] {
    background-color: #000;
}

[class~=twitter-feeds] div i {
    position: absolute;
}

[class~=search-form-modal] {
    height: 0;
}

#owl-main-slider [class~=item] {
    height: 31.25pc;
}

[class~=tags] a {
    padding-left: 1pc;
}

[class~=comments] > div > a[class~=reply] {
    border-bottom-style: solid;
}

[class~=tags] a {
    padding-bottom: 10px;
}

[class~=slider-content] a[class~=prev] {
    padding-top: 11.25pt;
}

[class~=tags] a {
    padding-right: 1pc;
}

[class~=search-form-modal] {
    left: 0;
}

[class~=tags] a {
    padding-top: 10px;
}

ul[class~=blog-cats] > li > a:hover {
    text-decoration: none;
}

[class~=slider-content] a[class~=prev], .search-form_close {
    cursor: pointer;
}

[class~=search-form-modal] {
    overflow: hidden;
}

[class~=slider-content] a[class~=prev] {
    margin-right: .3125pc;
}

[class~=tags] a {
    margin-right: .375pc;
}

[class~=search-form-modal] {
    position: fixed;
}

#owl-main-slider {
    position: relative;
}

[class~=search-form-modal] {
    top: 0;
}

.slider-content a.next {
    opacity: .8;
}

[class~=comments] > div > a[class~=reply]:after {
    right: -.010416667in;
}

[class~=twitter-feeds] div i {
    margin-left: -.239583333in;
}

#to-top:hover {
    background-color: #fff;
}

footer p {
    line-height: 1.25pc;
}

[class~=twitter-feeds] div i {
    margin-bottom: 0;
}

[class~=twitter-feeds] div p, .slider-content a.next {
    display: block;
}

[class~=twitter-feeds] div i, nav.pagination {
    margin-right: 0;
}

[class~=comments] > div > a[class~=reply], [class~=info-texts] div > div > div:before {
    border-right-style: solid;
}

.our-services div > a:after {
    background: #eee;
}

.twitter-feeds div {
    padding-left: 1.5625pc;
}

[class~=info-texts] div > div > div:last-child p {
    text-align: left;
}

[class~=comments] > div > a[class~=reply] {
    border-top-style: solid;
}

.twitter-feeds div {
    padding-bottom: 18.75pt;
}

[class~=twitter-feeds] div i {
    margin-top: .052083333in;
}

[class~=twitter-feeds] div p {
    font-size: .8125pc;
}

.twitter-feeds div {
    padding-right: 0;
}

.slider-content a.next, nav[class~=pagination] a {
    float: left;
}

[class~=twitter-feeds] div p {
    margin-left: 0pt;
}

[class~=comments] > div > a[class~=reply] {
    border-left-color: #eee;
}

nav[class~=pagination] a, .slider-content a.next {
    border-left-width: .0625pc;
}

[class~=search-form-modal] {
    z-index: 9999;
}

[class~=post-info] span, .twitter-feeds div {
    padding-top: 0;
}

.slider-content a.next {
    border-bottom-width: .0625pc;
}

nav.pagination {
    margin-left: 0;
}

nav.pagination {
    margin-bottom: .833333333in;
}

nav.pagination {
    margin-top: .833333333in;
}

[class~=twitter-feeds] div p {
    margin-bottom: 0pt;
}

[class~=post-content] p {
    margin-bottom: 0in;
}

[class~=twitter-feeds] div p {
    margin-right: 0pt;
}

[class~=header_search_form] [class~=btn_search], #to-top, footer h4 {
    color: #fff;
}

[class~=comments] > div > a[class~=reply] {
    border-bottom-color: #eee;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    font-size: 12pt;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    height: 100%;
}

#to-top i {
    -webkit-transform: skew(20deg);
}

[class~=twitter-feeds] div p {
    margin-top: 0pt;
}

[class~=twitter-feeds] div span {
    display: inline-block;
}

.search-form_close {
    font-size: .208333333in;
}

[class~=twitter-feeds] div span, [class~=post-info] span {
    font-size: 11px;
}

.search-form_close, [class~=post-info]:after {
    position: absolute;
}

[class~=post-info]:after {
    content: "";
}

nav[class~=pagination] a, [class~=post-info]:after {
    display: block;
}

[class~=post-info]:after {
    bottom: -.75pt;
}

nav[class~=pagination] a, .slider-content a.next {
    border-right-width: .0625pc;
}

[class~=post-info]:after {
    height: .03125in;
}

[class~=post-info]:after {
    left: -.75pt;
}

[class~=twitter-feeds] div span, [class~=post-info] span {
    font-weight: 500;
}

[class~=post-info]:after {
    right: -.0625pc;
}

[class~=post-info] span {
    color: #888;
}

[class~=post-info] span {
    display: inline-block;
}

.slider-content a.next, nav[class~=pagination] a {
    border-top-width: .0625pc;
}

[class~=post-info] span, [class~=comments] > div {
    padding-left: 0;
}

[class~=post-info] span {
    padding-bottom: 0;
}

nav[class~=pagination] a, [class~=comments] > div, [class~=post-info] span, #partners [class~=owl-buttons] div {
    padding-right: 1.25pc;
}

    [class~=comments] > div > a[class~=reply] {
        border-right-color: #eee;
    }

[class~=info-texts] div > div > div:before {
    border-right-color: transparent;
}

[class~=twitter-feeds] div span {
    margin-top: 7.5pt;
}

.search-form_close {
    right: .15625in;
}

.search-form_close {
    top: -1.25pc;
}

nav[class~=pagination] a, [class~=comments] > div > a[class~=reply] {
    border-top-color: #eee;
}

.header_search_form {
    bottom: 0;
}

[class~=comments] > div > a[class~=reply] {
    border-image: none;
}

[class~=info-texts] div > div > div:last-child p {
    padding-left: 40px;
}

nav[class~=pagination] a {
    border-bottom-width: .75pt;
}

[class~=comments] > div > a[class~=reply], [class~=post-info] span {
    text-transform: uppercase;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    float: left;
}

[class~=post-content] img {
    max-width: 100%;
}

.slider-content a.next, nav[class~=pagination] a {
    border-left-style: solid;
}

[class~=comments] > div {
    position: relative;
}

nav[class~=pagination] a, .slider-content a.next {
    border-bottom-style: solid;
}

[class~=comments] > div > a[class~=reply] {
    right: -2.25pt;
}

[class~=comments] > div {
    padding-bottom: .364583333in;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    width: 100%;
}

#to-top i {
    -moz-transform: skew(20deg);
}

nav[class~=pagination] a, [class~=two-news] > div div:last-child small[class~=news-author], [class~=comments] > div, .slider-content a.next {
    border-right-style: solid;
}

.slider-content a.next, nav[class~=pagination] a {
    border-top-style: solid;
}

[class~=comments] > div {
    padding-top: 26.25pt;
}

    [class~=comments] > div > a[class~=reply] {
        bottom: -22.5pt;
    }

.header_search_form {
    display: block;
}

.header_search_form {
    height: 5pc;
}

[class~=comments] > div {
    background: #f5f5f5;
}

nav[class~=pagination] a {
    border-left-color: #eee;
}

[class~=comments] > div {
    margin-left: .104166667in;
}

[class~=comments] > div {
    border-right-width: .1875pc;
}

.header_search_form {
    left: 0;
}

[class~=comments] > div > a[class~=reply] {
    line-height: .3125in;
}

[class~=comments] > div > a[class~=reply] {
    color: #919191;
}

.header_search_form {
    margin-left: auto;
}

nav[class~=pagination] a {
    border-bottom-color: #eee;
}

.slider-content a.next {
    border-left-color: currentColor;
}

nav[class~=pagination] a {
    border-right-color: #eee;
}

[class~=comments] > div {
    border-right-color: #ddd;
}

[class~=comments] > div, nav[class~=pagination] a {
    border-image: none;
}

    [class~=comments] > div > a[class~=reply]:after {
        top: -.0625pc;
    }

nav[class~=pagination] a {
    padding-left: 1.25pc;
}

[class~=adress-details] > div {
    font-size: .135416667in;
}

[class~=adress-details] > div {
    display: table;
}

[class~=adress-details] > div {
    margin-top: -.0625pc;
}

[class~=two-news] > div div:last-child small[class~=news-author] {
    border-right-width: .75pt;
}

nav[class~=pagination] a {
    padding-bottom: .0625in;
}

[class~=comments] > div > a[class~=reply]:after {
    bottom: -.75pt;
}

.slider-content a.next {
    border-bottom-color: currentColor;
}

nav[class~=pagination] a {
    padding-top: 6pt;
}

.header_search_form {
    margin-bottom: auto;
}

nav[class~=pagination] a {
    font-size: .125in;
}

#to-top i {
    -o-transform: skew(20deg);
}

[class~=small-posts] > div + div, [class~=big-posts] > div + div {
    margin-top: 5.625pc;
}

.header_search_form {
    margin-right: auto;
}

footer:before {
    background: #000;
}

[class~=slider-content] h1 {
    display: inline-block;
}

[class~=slider-content] h1 {
    font-size: .270833333in;
}

[class~=comments] > div > a[class~=reply], [class~=slider-content] h1 {
    font-family: "Montserrat",sans-serif;
}

[class~=slider-content] h1 {
    font-weight: 700;
}

[class~=slider-content] h1 {
    margin-left: 0pc;
}

[class~=post-content] p + p {
    margin-top: 1.25pc;
}

[class~=header_search_form] [class~=btn_search] {
    float: right;
}

.header_search_form, [class~=comments] > div > a[class~=reply], .slider-content a.next {
    padding-left: 11.25pt;
}

[class~=small-posts] > div > h1, [class~=big-posts] > div > h1 {
    margin-top: 15px;
}

[class~=slider-content] h1 {
    margin-bottom: 0pc;
}

.slider-content a.next {
    border-right-color: currentColor;
}

[class~=comments] > div > a[class~=reply] {
    padding-bottom: 0;
}

.slider-content a.next {
    border-top-color: currentColor;
}

[class~=big-posts] > div > h1, [class~=small-posts] > div > h1 {
    text-transform: none;
}

.slider-content a.next {
    border-image: none;
}

[class~=slider-content] h1 {
    margin-right: 0pc;
}

[class~=slider-content] h1 {
    margin-top: 0pc;
}

[class~=big-posts] > div > h1, [class~=small-posts] > div > h1 {
    font-size: 22px;
}

[class~=comments] > div > a[class~=reply], .header_search_form, .slider-content a.next {
    padding-right: 11.25pt;
}

[class~=comments] > div > a[class~=reply] {
    padding-top: 0;
}

[class~=slider-content] h1 {
    padding-top: 0pc;
}

.header_search_form {
    margin-top: auto;
}

.header_search_form {
    max-width: 550px;
}

[class~=big-posts] > div > h1, [class~=small-posts] > div > h1 {
    margin-bottom: 22.5pt;
}

[class~=info-texts] div > div > div:before {
    z-index: 3;
}

.slider-content a.next, .header_search_form {
    padding-bottom: 11.25pt;
}

#partners [class~=owl-buttons] div {
    padding-top: .052083333in;
}

nav[class~=pagination] a:hover, [class~=btn][class~=btn-sm][class~=btn-success]:hover, [class~=stats] > div > div:hover, [class~=testimonial-content] span, .contact-info i, [class~=big-hr] h2, [class~=contact-info] strong, [class~=bg-image] h1 {
    color: #fff;
}

[class~=comments] > div > a[class~=reply]:after, .header_search_form {
    position: absolute;
}

[class~=slider-content] p {
    margin-top: 18.75pt;
}

[class~=header_search_form] [class~=btn_search], [class~=slider-content] p {
    font-size: 12pt;
}

[class~=slider-content] p {
    line-height: 1.875pc;
}

.header_search_form, .slider-content a.next {
    padding-top: 11.25pt;
}

[class~=comments] > div > a[class~=reply] {
    font-size: .104166667in;
}

[class~=info-texts] div > div > div:before {
    left: -4.0625pc;
}

[class~=header_search_form] [class~=btn_search] {
    height: 100%;
}

[class~=post-info] span + span {
    border-left-width: .0625pc;
}

[class~=small-posts] > div:after, [class~=comments] > div > a[class~=reply]:after {
    display: block;
}

[class~=post-info] span + span {
    border-left-style: solid;
}

[class~=comments] > div > a[class~=reply]:after {
    width: .03125in;
}

.slider-content a.next {
    cursor: pointer;
}

[class~=post-info] span + span {
    border-left-color: #ccc;
}

[class~=post-info] span + span {
    border-image: none;
}

[class~=info-texts] div > div > div:before {
    right: -65px;
}

.slider-content a.next {
    margin-right: .3125pc;
}

[class~=slider-content] a[class~=prev], [class~=slider-content] a[class~=next] {
    border-left-color: #fff;
}

[class~=post-info] span + span {
    padding-left: 15pt;
}

[class~=big-posts] > div > img, [class~=single-post] > div > img {
    width: 100%;
}

[class~=small-posts] > div:after, [class~=adress-details] > div:after, [class~=comments] > div > a[class~=reply]:after, [class~=info-texts] div > div > div:after {
    content: "";
}

[class~=bg-image] [class~=one-news] > div > div, ul[class~=blog-cats] li:hover:before {
    background-color: #fff;
}

[class~=slider-content] a[class~=prev], [class~=slider-content] a[class~=next] {
    border-bottom-color: #fff;
}

[class~=small-posts] > div > img {
    float: left;
}

[class~=small-posts] > div > img {
    margin-bottom: .15625in;
}

[class~=info-texts] div > div > div:before {
    top: -11.25pt;
}

.header_search_form {
    right: 0;
}

[class~=small-posts] > div > img {
    margin-right: 30px;
}

[class~=header_search_form] [class~=btn_search] {
    text-transform: uppercase;
}

[class~=small-posts] > div > img {
    max-width: 50%;
}

[class~=header_search_form] [class~=btn_search] {
    width: 32%;
}

[class~=header_search_form] [class~=btn_search] {
    text-shadow: none;
}

[class~=adress-details] > div:after, [class~=small-posts] > div:after {
    clear: both;
}

.post-content img + p, [class~=post-content] img + img, [class~=post-content] p + img {
    margin-top: .208333333in;
}

[class~=slider-content] a[class~=prev], [class~=slider-content] a[class~=next] {
    border-right-color: #fff;
}

[class~=slider-content] a[class~=prev], [class~=slider-content] a[class~=next] {
    border-top-color: #fff;
}

[class~=header_search_form] [class~=btn_search] {
    -moz-text-shadow: none;
}

[class~=slider-content] a[class~=next], [class~=two-news] > div div:last-child small, [class~=why-us] li span, [class~=blog-section] div div a:hover, [class~=slider-content] a[class~=prev], [class~=blog-section] h3, [class~=topmenu] a, [class~=page-title] a, .page-title a:hover, [class~=tags] a:hover, [class~=slider-content] h1, [class~=main-menu] a, nav[class~=pagination] a[class~=active], [class~=footer-icons] a:hover, ul.blog-cats > li:hover > a, #fleet-gallery [class~=owl-buttons] div {
    color: #fff;
}

.header_search_form {
    top: 0;
}

h3[class~=color-dark], h1[class~=color-dark], h5[class~=color-dark], h6.color-dark, h4[class~=color-dark], small[class~=color-dark], h2[class~=color-dark] {
    color: #000;
}

[class~=comments] > div + div {
    margin-top: 3.75pc;
}

[class~=comments] > div > p, [class~=service-item] > h4 {
    margin-top: 15px;
}

footer p {
    color: #eee;
}

[class~=info-texts] div > div > div:after, [class~=adress-details] > div:after {
    display: block;
}

.header_search_form, #owl-main-slider img {
    width: 100%;
}

[class~=adress-details] > div > span, [class~=adress-details] > div > div {
    display: table-cell;
}

[class~=adress-details] > div > span {
    border-left-width: .010416667in;
}

[class~=adress-details] > div > span {
    border-bottom-width: .010416667in;
}

[class~=adress-details] > div > span {
    border-right-width: .010416667in;
}

[class~=header_search_form] [class~=btn_search] {
    -webkit-text-shadow: none;
}

[class~=adress-details] > div > span {
    border-top-width: .010416667in;
}

[class~=adress-details] > div > span {
    border-left-style: solid;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    padding-left: 11.25pt;
}

footer .copy {
    background: #000;
}

[class~=adress-details] > div > span {
    border-bottom-style: solid;
}

[class~=adress-details] > div > span {
    border-right-style: solid;
}

[class~=our-services] div > a:hover [class~=btn-default], [class~=our-services] div > a, .bg-image .two-news > div div:last-child small, [class~=header-padding] span, [class~=bg-image] [class~=one-news] > div > div small {
    color: #666;
}

[class~=adress-details] > div > span {
    border-top-style: solid;
}

[class~=adress-details] > div > span {
    border-left-color: #eee;
}

[class~=adress-details] > div > span {
    border-bottom-color: #eee;
}

[class~=adress-details] > div > span {
    border-right-color: #eee;
}

[class~=adress-details] > div > span {
    border-top-color: #eee;
}

[class~=header-padding] div {
    border-left-color: #eee;
}

[class~=adress-details] > div > span {
    border-image: none;
}

[class~=two-news] > div div:last-child small[class~=news-author] {
    border-right-color: currentColor;
}

[class~=adress-details] > div > span {
    position: relative;
}

[class~=info-texts] div > div > div:after {
    position: absolute;
}

[class~=testimonial-content]:after {
    border-top-color: #eee;
}

footer .copy, footer a {
    color: #ccc;
}

[class~=adress-details] > div > span {
    text-align: center;
}

[class~=adress-details] > div > span {
    width: .416666667in;
}

[class~=adress-details] > div > span {
    height: .364583333in;
}

[class~=adress-details] > div > div, [class~=adress-details] > div > span {
    vertical-align: middle;
}

[class~=info-texts] div > div > div:after {
    bottom: 0in;
}

[class~=header_search_form] [class~=btn_search], [class~=header_search_form] [class~=form-group] [class~=form-control] {
    border-radius: 0;
}

[class~=adress-details] > div > div {
    padding-left: 1.5625pc;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    padding-bottom: 7.5pt;
}

[class~=header_search_form] [class~=btn_search], [class~=header_search_form] [class~=form-group] [class~=form-control] {
    -moz-border-radius: 0;
}

[class~=info-texts] div > div > div:after {
    height: .9375pc;
}

[class~=main-menu] a:after, [class~=column-info] > div > span, #testimonials [class~=owl-buttons] div, [class~=bg-image] [class~=two-news] > div div:last-child > div {
    background-color: #fff;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    padding-right: 11.25pt;
}

[class~=header_search_form] [class~=form-group] [class~=form-control], [class~=header_search_form] [class~=btn_search] {
    -webkit-border-radius: 0;
}

[class~=our-services][class~=styled] div > a:hover, #partners a {
    background: #f5f5f5;
}

[class~=info-texts] div > div > div:after {
    left: -60px;
}

[class~=header_search_form] [class~=form-group] [class~=form-control], [class~=header_search_form] [class~=btn_search] {
    box-shadow: none;
}

.stats > div > div, [class~=our-services] div > a {
    border-left-color: #eee;
}

[class~=header_search_form] [class~=form-group] [class~=form-control], [class~=header_search_form] [class~=btn_search] {
    -moz-box-shadow: none;
}

[class~=two-news] > div div:last-child small[class~=news-author] {
    border-image: none;
}

[class~=our-services] div > a, .stats > div > div {
    border-bottom-color: #eee;
}

.stats > div > div, [class~=our-services] div > a {
    border-right-color: #eee;
}

[class~=header_search_form] [class~=btn_search], [class~=header_search_form] [class~=form-group] [class~=form-control] {
    -webkit-box-shadow: none;
}

.stats > div > div, [class~=our-services] div > a {
    border-top-color: #eee;
}

#partners a, .one-news > div > div small.news-author, [class~=two-news] > div div:last-child small[class~=news-author] {
    border-right-color: #ccc;
}

.stats > div > div, [class~=our-services] div > a {
    min-height: 114px;
}

[class~=info-texts] div > div > div:after {
    right: -45pt;
}

[class~=header_search_form] [class~=form-group] [class~=form-control] {
    padding-top: 7.5pt;
}

.team.style-2 div:hover .soc-icons, .team.style-2 > div > div:hover span {
    display: block;
}

[class~=info-texts] div > div > div:after {
    background: #fff;
}

[class~=two-news] > div div:last-child small[class~=news-author] {
    margin-right: 15px;
}

[class~=info-texts] div > div > div:after {
    z-index: 2;
}

ul[class~=blog-cats] li > ul > li {
    list-style: none;
}

.team.style-2 > div > div:hover span {
    top: 0px;
}
.text-white{
    color: #ffff !important;
}
.pr-3{
    padding-right: 1.5rem !important;
}
.pr-09{
    padding-right:.09rem !important;
}
.btn-whatssapp{
    position:fixed !important;
    z-index:1;
    color: white  !important;
    left: 1.50rem !important;
    bottom:20px !important;
    background: limegreen;
    border-radius: 30% !important;    
    padding: 10px 12px;
}
.btn-phone{
    position:fixed !important;
    z-index:1;
    color: white !important;
    right: 1.50rem !important;
    bottom: 20px !important;
    background: #000;
    border-radius: 30% !important;
    padding: 10px 12px;
}