﻿
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kurumsal Nakliyat ve Taşımacılık Scripti V2</title>
    <meta name="keywords" content="firma,yazılım,kurumsal firma,nakliyat,nakliyat scripti,taşımacılık">
    <meta name="description" content="Kurumsal Nakliyat ve Taşımacılık Scripti V2">
    <link rel="stylesheet" href="~/assets/css/master.css" />
    <link rel="stylesheet" id="switcher-css" type="text/css" href="assets/css/switcher.css" />
    <link rel="stylesheet" id="switcher-css" type="text/css" href="assets/css/swipebox.css" />
    <link rel="icon" href="~/assets/img/favicon-32x32.png" type="image/x-icon">

</head>

<body data-scrolling-animations="true">
    <div class="sp-body">
        <header id="this-is-top">
            <div class="container-fluid">
                <div class="topmenu row">
                    <nav class="col-sm-offset-3 col-md-offset-4 col-lg-offset-4 col-sm-6 col-md-5 col-lg-5">
                        <ul>
                            <li style="list-style:none; padding-right:10px; float:left; font-size:18px;"><a href="https://twitter.com/" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li style="list-style:none; margin-right:10px; float:left; font-size:18px;"><a href="https://twitter.com/" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li style="list-style:none; margin-right:10px; float:left; font-size:18px;"><a href="https://twitter.com/" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li style="list-style:none; margin-right:10px; float:left; font-size:18px;"><a href="https://twitter.com/" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                    <nav class="text-right col-sm-3 col-md-3 col-lg-3">

                    </nav>
                </div>
                <div class="row header">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a href="/" id="logo" style="background:none;"><img src="~/assets/img/marmara-nakliyat-logo-dark.png" alt="Marmara nakliyat resmi logosu"></a>
                    </div>
                    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-8 col-md-8 col-lg-8">
                        <div class="text-right header-padding">
                            <div class="h-block"><span>Telefon</span>@Organization.PrimaryPhone</div>
                            <div class="h-block"><span>E-Posta</span>@Organization.PrimaryMail</div>
                            <a class="btn btn-success" href="main/get-offer"><i class="fa fa-truck fa-2x" aria-hidden="true">&nbsp;</i>Fiyat Teklifi</a>
                        </div>
                    </div>
                </div>
                <div id="main-menu-bg"></div>
                <a id="menu-open" href="#"><i class="fa fa-bars"></i></a>
                <nav class="main-menu navbar-main-slide">
                    <ul class="nav navbar-nav navbar-main">
                        <li>
                            <a href="/">Ana Sayfa</a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle border-hover-color1" href="#">Kurumsal<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/main/about">Hakkımızda</a>
                                </li>
                                <li>
                                    <a href="/main/vision">Vizyon</a>
                                </li>
                                <li>
                                    <a href="/main/mission">Misyon</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle border-hover-color1" href="#">Hizmetler <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/main/service-lift-carrying">Evden Eve Asansörlü Taşıma</a>
                                </li>
                                <li>
                                    <a href="/main/service-office-carrying">Ofis Taşımacılığı</a>
                                </li>
                                <li>
                                    <a href="/main/service-home-carrying">Evden Eve Taşımacılık</a>
                                </li>
                                <li>
                                    <a href="/main/service-insured-carrying">Sigortalı Taşıma</a>
                                </li>
                                <li>
                                    <a href="/main/service-home-carrying">Evden Eve Taşımacılık</a>
                                </li>
                                <li>
                                    <a href="/main/service-intercity-carrying">Şehirler Arası Nakliyat</a>
                                </li>
                                <li>
                                    <a href="/main/service-stuff-storage">Eşya Depolama</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle border-hover-color1" href="#">Medya <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/main/gallery">Resim Galerisi</a>
                                </li>
                                @*<li>
                                    <a href="/main/video-gallery">Video Galeri</a>
                                </li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="/main/faq">S.S.S</a>
                        </li>
                        <li>
                            <a href="/main/contact">İletişim</a>
                        </li>
                    </ul>
                </nav>
                <a id="menu-close" href="#"><i class="fa fa-times"></i></a>
            </div>
        </header>
        <a href="@Organization.WhatsappMessage" class="btn-whatssapp"><i class="fa fa-whatsapp fa-2x"></i></a>
        <a href="tel:@Organization.PrimaryRawPhone" class="btn-phone"><i class="fa fa-phone fa-2x"></i></a>
        @RenderBody()
        <footer>
            <div class="color-part2"></div>
            <div class="color-part"></div>
            <div class="container-fluid">
                <div class="row block-content">
                    <div class="col-sm-12 col-md-3 col-lg-3 wow zoomIn text-center" data-wow-delay="0.3s">
                        <a href="#" class="logo-footer" style="background:url(/assets/img/marmara-nakliyat-logo_244x42.png);"></a>
                        <div class="footer-icons">
                            <ul>
                                <li style="list-style:none; padding-right:10px; float:left; font-size:18px;"><a href="@Organization.SocialMediaFacebookUri" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                                <li style="list-style:none; padding-right:10px; float:left; font-size:18px;"><a href="@Organization.SocialMediaLinkedInUri" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                                <li style="list-style:none; margin-right:10px; float:left; font-size:18px;"><a href="@Organization.SocialMediaInstagramUri" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                                <li style="list-style:none; margin-right:10px; float:left; font-size:18px;"><a href="@Organization.SocialMediaYoutubeUri" target="_blank" rel="nofollow" style="color:#FFFFFF;"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mx-auto" style="margin-left:7rem !important">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4 ml-md-5 ml-lg-5">
                                <h5 style="color:white !important;">Hızlı Bağlantılar</h5>
                                <ul class="list-unstyled">
                                    <li><a href="main/about"><span><i class="fa fa-location-arrow pr-3"></i>Hakkımızda</span></a></li>
                                    <li><a href="main/mission"><span><i class="fa fa-location-arrow pr-3"></i>Misyon</span></a></li>
                                    <li><a href="main/vision"><span><i class="fa fa-location-arrow pr-3"></i>Vizyon</span></a></li>
                                    <li><a href="main/faq"><span><i class="fa fa-location-arrow pr-3"></i>S.S.S</span></a></li>
                                    <li><a href="main/contact"><span><i class="fa fa-location-arrow pr-3"></i>İletişim</span></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5 style="color:white !important;">İletişim</h5>
                                <ul class="list-unstyled">
                                    <li><a href="tel:@Organization.PrimaryPhone"><span><i class="fa fa-phone pr-3"></i>@Organization.PrimaryPhone</span></a></li>
                                    <li><a href="mailto:@Organization.PrimaryMail"><span><i class="fa fa-envelope pr-3"></i>@Organization.PrimaryMail</span></a></li>
                                    <li><a href="#"><span><i class="fa fa-home pr-3"></i>@Organization.PrimaryAddress</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy text-right"><a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>Copyright <span>&copy; &nbsp;</span> Marmara Nakliyat Tüm hakları saklıdır.</div>
            </div>
        </footer>
    </div>
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/jquery-1.11.3.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.custom.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/classie.js"></script>
    <script src="~/assets/js/pathLoader.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/classie.js"></script>
    <script src="~/assets/js/switcher.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.isotope.min.js"></script>
    <script src="~/assets/js/jquery.smooth-scroll.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.placeholder.min.js"></script>
    <script src="~/assets/js/smoothscroll.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    @RenderSection("PageEndScripts",false)
</body>
</html>